.wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
  fill: #e0f9ff;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

