@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/placeholders' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: $indent-24;
  position: relative;
  border-radius: 16px;
  transition: background-color .1s linear, box-shadow .1s linear;
  z-index: 0;
  height: auto;

  @include screen-medium-up {
    height: 444px;
    padding-left: $indent-12;
    padding-right: $indent-12;
    padding-top: $indent-12;
  }

  &:not(:last-child) {
    @include screen-small-down {
      padding-bottom: $indent-16;
      height: auto;
    }
  }

  & > svg {
    width: 24px;
    height: 24px;
    align-self: flex-end;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    transition: .2s linear;
    z-index: -1;
    top: $indent-12;
    left: $indent-12;
    right: $indent-12;
    bottom: $indent-12;

    @include screen-small-down {
      inset: 0;
    }
  }

  &:hover {
    @include screen-medium-up {
      &::after {
        transform: scale(1.055);
        background-color: $color-white;
      }

      .imgWrapper {
        height: calc(100% - 4px);
      }

      .img {
        transform: scale(.98);
      }

      .eventName {
        transform: translateY(-4px);
      }
    }

    &::after {
      @extend %card-shadow;
      @include screen-small-down {
        box-shadow: none;
      }
    }
  }

  &:active {
    &::after {
      box-shadow: none;
    }
  }
}

.top {
  position: relative;
  border-radius: 16px;
  z-index: 1;
  height: 100%;

  @include screen-small-down {
    height: 163px;
  }
}

.card.withoutImage {
  min-height: 320px;


  .top {
    @include screen-small-down {
      height: auto;
    }
  }
}

.topRow {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0;
  margin: $indent-24 $indent-24 0 $indent-24;
  z-index: 1;

  @include screen-small-down {
    margin: 20px 16px;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.category {
  @include typo-make-small;
  line-height: 16px;
  color: $color-white;
  text-transform: uppercase;

  @include screen-small-down {
    @include typo-make-tiny;
    line-height: 16px;
  }
}

.price {
  margin-left: auto;

  @include screen-small-down {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.booksmarkBtn {
  margin-left: $indent-12;

  svg {
    stroke: $color-white;
  }
}

.imgWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: .1s linear;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(63, 87, 186, 0.3), rgba(63, 87, 186, 0.3));
  }
}

.center {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.eventName {
  margin-bottom: $indent-16;
  @include typo-make-h5;
  color: $color-black;
  transition: transform .1s linear;

  @include screen-small-down {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}

.location {
  display: none;
  margin-bottom: $indent-8;

  @include screen-medium-up {
    display: flex;
    align-items: flex-start;
  }
}

.time {
  margin-bottom: $indent-8;
  display: flex;
  align-items: flex-start;
}

.location,
.time {
  @include typo-make-small;
  gap: 0;
  color: $color-gray-deep;
  opacity: .8;
}

.iconWrapper {
  display: none;
  margin-right: 4px;
  flex-shrink: 0;
  @include screen-medium-up {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 2px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.watchSvg {
  stroke: $color-gray-deep;
  fill: none;
}

.locationSvg {
  fill: $color-gray-deep;
}

.card.withoutImage,
.card.withGradient {
  & > svg {
    margin-right: $indent-24;
  }

  .center {
    margin-left: $indent-24;
    margin-right: $indent-24;

    @include screen-small-down {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  .price {
    @include screen-small-down {
      display: none;
    }
  }
}

.card.withoutImage:not(.withGradient) {

  &.violet {
    .category {
      color: $color-violet;
    }

    .booksmarkBtn svg {
      stroke: $color-violet;
    }
  }

  .featureIcon {
    display: none;
  }

  &.bluemarin {
    .category {
      color: $color-bluemarin;
    }

    .booksmarkBtn svg {
      stroke: $color-bluemarin;
    }
  }

  &.blue {
    .category {
      color: $color-blue;
    }

    .booksmarkBtn svg {
      stroke: $color-blue;
    }
  }

  &.orange {
    .category {
      color: $color-orange;
    }

    .booksmarkBtn svg {
      stroke: $color-orange;
    }
  }

  &.pink {
    .category {
      color: $color-pink;
    }

    .booksmarkBtn svg {
      stroke: $color-pink;
    }
  }

  &::after {
    @extend %border-gradient;
    background: linear-gradient(50.39deg, #54E8D3 5.88%, #5166F5 55.27%, #9963EF 107.13%, #FFC194 154.78%);
    background-origin: border-box;
    transition: .2s linear;
    top: $indent-12;
    left: $indent-12;
    right: $indent-12;
    bottom: $indent-12;

    @include screen-small-down {
      inset: 0;
    }
  }

  .category {
    color: $color-violet;
  }

  .booksmarkBtn:hover svg {
    stroke: $color-bluemarin;
  }

  .booksmarkBtn:not(:global(.active)) svg {
    stroke: $color-violet;
  }
}

.card.withGradient {
  .featureIcon {
    display: none;
  }

  &::after {
    background: linear-gradient(270deg, #E7BECB 1.3%, #BF9DEB 48.75%, #A293F6 96.74%);
  }

  @include screen-medium-up {
    &:hover &::after {
      background: linear-gradient(266.68deg, #E7BECB -31.97%, #BF9DEB 45.72%, #A293F6 124.3%);
    }

    // &:active {
    //   &::before {
    //     content: '';
    //     position: absolute;
    //     inset: -12px;
    //     border-radius: inherit;
    //     background: $color-violet-light;
    //   }
    // }
  }

  .eventName,
  .time,
  .location {
    color: $color-white;
  }

  .locationSvg {
    fill: $color-white;
  }

  .watchSvg {
    stroke: $color-white;
  }
}

.card,
.card.withGradient,
.card.withoutImage {
  &.violet {
    .booksmarkBtn:hover svg {
      fill: $color-violet;
      stroke: $color-violet;
    }
  }

  &.bluemarin {
    .booksmarkBtn:hover svg {
      fill: $color-bluemarin;
      stroke: $color-bluemarin;
    }
  }

  &.blue {
    .booksmarkBtn:hover svg {
      fill: $color-blue;
      stroke: $color-blue;
    }
  }

  &.orange {
    .booksmarkBtn:hover svg {
      fill: $color-orange;
      stroke: $color-orange;
    }
  }

  &.pink {
    .booksmarkBtn:hover svg {
      fill: $color-pink;
      stroke: $color-pink;
    }
  }
}

.card:not(.withoutImage) {
  .labelSvg {
    @include screen-small-down {
      display: none;
    }
  }
}

.card:not(.withGradient) {
  .featureIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;

    @include screen-medium-up {
      display: none;
    }
  }
}
