@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.controls {
  z-index: 5;
  position: absolute;
  top: 50%;

  height: max-content;
  will-change: filter;
  border-radius: 16px;
  opacity: .8;
  transform: translate(0, -50%);

  &.next {
    right: $indent-56;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover .icon::after {
      width: 96px;
    }

    &.isEnd {
      display: none;
    }
  }

  &.prev {
    left: 0;
    // @include calcSlideWidth(4);
    opacity: 0;
    transform: translate(40px, -50%);
    pointer-events: none;
    position: absolute;

    button {
      height: 100%;
      width: 100%;
    }

    &.isEnd {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: calc($indent-20 + $indent-20);
      height: 400px;
      border-radius: 16px;
      pointer-events: all;
      transform: translate(0, -50%);
      background: rgba($color-mask-slide, .3);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      // backdrop-filter: blur(16px);
      // -webkit-backdrop-filter: blur(16px);
      border: 1px solid rgba($color-mask-slide, .3);
      opacity: 1;
      transition:
        transform .2s,
        opacity .2s,
        width .57s ease-out;
    }

    &.store {
      &:hover .icon::after {
        width: 96px;
      }
    }
  }

  &.next.isEnd {
    @include screen-medium-down {
      display: none !important;
    }
  }
}

.afisha {
  &.next {
    width: calc($indent-64 * 2 + $indent-48 + $indent-20 + 4px);
  }
}

.bottom {
  &.next {
    width: calc($indent-64 * 2 + $indent-36 + $indent-24 + 4px);
  }
}

.main {
  &.next {
    right: $indent-56;
  }
}

.store {
  transition: width .2s ease-out;

  &.next {
    right: $indent-16;

    &.isEnd {
      display: flex;
      pointer-events: none;

      .icon {
        width: 48px;
      }
    }
  }

  &.prev {
    left: -32px;
    box-shadow: none;
    background: none;
    border: unset;
    border-radius: unset;
    backdrop-filter: unset;
    opacity: 1;
    transform: rotateZ(180deg) translate(100%, 50%);

    .icon::after {
      border: 1px solid $color-gray;
    }

    svg {
      fill: $color-gray;
    }
  }

  &.isBeginning .icon,
  &.isBeginning .icon::after {
    width: 48px;
  }

  &:not(.isBeginning, .isEnd) {
    pointer-events: all;
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  width: 92px;
  height: 40px;
  cursor: pointer;
  fill: transparent;
  transition: width .2s ease-out;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid $color-white;
    border-radius: 16px;
    transform-origin: 0 0;
    transition: width .2s;
 }

  &:hover::after {
    background-color: rgba($color-white, .3);
  }

  &:active::after  {
    background-color: rgba($color-white, .5);
  }

  svg {
    width: 9px;
    height: 16px;
    fill: $color-white;
  }
}
