@use '../../styles/mixins/typography' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;


.link {
  @extend %link-base;
  @include typo-make-middle($isHeading: false);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    .icon {
      fill: $color-bluemarin-light;

      path {
        stroke: $color-bluemarin-light !important;
      }
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline;
  transition: fill 0.1s linear;

  path {
    transition: stroke 0.1s linear;
  }
}
