@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;

.wrapper {
    @include grid;

    @include grid-with-inner-context {
        @include grid-with-offset((large: 1)) {
            @include grid-columns-span((large: 10))
        }
    }

    grid-template-rows: min-content min-content auto;
    background: $color-white;
    @extend %card-shadow;
    border-radius: 16px;
    padding: $indent-80 0 $indent-96;
    position: relative;
    z-index: 3;
    margin: calc($indent-96 * 2) 0 $indent-96;
    min-height: 480px;

    @include screen-small-down {
        padding: 40px 28px 24px;
        margin: 96px 0 40px;
        min-height: auto;
    }
}

.textContainer {
    @include grid-with-offset((medium: 1)) {
        @include grid-columns-span((medium: 10, large: 5))
    }
}

.title {
    @include typo-make-h1($isHeading: true);
    font-weight: 700;
    text-transform: uppercase;
    
    & + .description {
        margin-top: $indent-48;

        @include screen-small-down {
            margin-top: 16px;
        }
    }
}

.description {
    @include typo-make-big-text($isHeading: true);

    & + .description {
        margin-top: $indent-24;
    }
}

.complete {
    @include grid-with-inner-context {
        @include grid-with-offset((small: 0, medium: 1)) {
            @include grid-columns-span((small: 6, medium: 3, large: 2))
        }
    }

    margin-top: $indent-48;

    @include screen-small-down {
        margin-top: 24px;
    }
}

.completeBtn {
    @include grid-columns-span-all;
}
