@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include grid-with-inner-context {
    @include grid-columns-span((medium: 12));
  }
  background-color: $color-gray-extra-light;
  padding: $indent-64 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;

  @include screen-small-down {
    margin-right: calc(-1 * $grid-padding-size);
    margin-left: calc(-1 * $grid-padding-size);
    @include grid-container;
  }
}

.content {
  @include grid-with-offset((medium: 1)) {
    @include grid-columns-span((medium: 10));
  }

  display: flex;
  flex-direction: column;

  > div:not(:last-child) {
    margin-bottom: 8px;
  }
}