@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/placeholders.scss' as *;

// $widthIcon: 130px;
// $heightIcon: 95px;

$widthIcon: 6.2vw;
$heightIcon: 5vw;

.wrapper {
  @include grid-with-inner-context {
      @include grid-columns-span(( small: 6, large: 6, huge: 4 ));
  }

  &:first-of-type {
    @include screen-huge-only {
      .containerLeft {
        grid-column: span 4 / auto;
        width: fit-content;
      }
    }
  }

  position: relative;
  gap: 0 $grid-gutter-size;
  height: 400px;
  border-radius: 16px;
  filter: blur(0);
  // will-change: filter;
  // overflow: hidden;
  // // border-radius: 8px;
  // -webkit-mask-image: -webkit-linear-gradient(white, black);
  // transition: filter 1s linear;

  // @include screen-huge-down {
  //   grid-column: span 6;
  // }

  @include screen-medium-down {
    height: 324px;
  }

  .title {
    @include typo-make-h2($isHeading: true);
    margin-bottom: $indent-24;
    font-weight: 700;

    &.mobile {
      margin-bottom: $indent-20;
    }
  }

  .description {
    @include typo-medium-text;
  }

  .containerImage {
    display: flex;
    align-items: center;
    gap: 4px;

    @include screen-medium-down {
      margin-bottom: $indent-16;
    }
  }

  img {
    max-width: $widthIcon;
    max-height: $heightIcon;
    object-fit: contain;

    @include screen-large-down {
      max-width: 86px;
      max-height: 64px;
    }
  }

  &:hover {
    .containerRigth {
      &::after {
        border-radius: 16px;
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }

      .text {
        transform: translateY(-2px);
      }

      svg {
        transform: translateX(8px);

        stop {
          stop-color: $color-white;
        }
      }
    }
  }

  &:active {
    .containerRigth {
      .text {
        transform: translateY(0);
      }

      &::after {
        background: linear-gradient(180deg, #87D9E6 -58%, #8994F8 10%, #B392F4 82%, #EBC2C6 148%);
      }
    }
  }
}

.containerLeft {
  @include grid-columns-span(( medium: 6, huge: 3 ));
  position: relative;
  padding: 0 $indent-40;
  height: 100%;
  
  @include screen-huge-up {
    width: calc(100% - 2px + $grid-gutter-size);
    padding-left: $indent-40;
  }

  &:before {
    @extend %border-gradient;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg,#EBC2C6 5%, #B392F4 35%, #8994F8 80%, #87D9E6 100%);
    border-radius: 16px;
    pointer-events: none;
    transform-origin: 0;
    transition:
      border-radius .2s,
      width .15s ease-out;
  }
}

.containerLeft,
.containerRigth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $indent-64;
  padding-bottom: $indent-48;
  color: $color-white;
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity .2s linear 1s,
    transform .2s ease-out 1s;
}

.text {
  text-transform: uppercase;
  @include typo-make-small;
  line-height: 16px;

  @include screen-large-down {
    @include typo-make-tiny;
  }
}

.containerRigth {
  grid-column: span 1;
  padding: $indent-64 $indent-16 $indent-48;
  border-radius: 8px;
  transition: border-radius .2s;

  @include screen-huge-down {
    display: none;
  }

  svg,
  .text {
    z-index: 2;
    position: relative;
    transition: transform .15s ease-out;
  }

  &:before {
    @extend %border-gradient;
    background: linear-gradient(90deg,#EBC2C6 5%, #B392F4 35%, #8994F8 80%, #87D9E6 100%);
    opacity: 1;
    transition: opacity .1s;
    border-radius: 16px;
  }

  &::after {
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #87D9E6 -26%, #8994F8 18%, #B392F4 65%, #EBC2C6 108%);
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 16px;
    pointer-events: none;
    transition: opacity .3s ease-out;
  }

  &::after,
  &::before {
    z-index: 1;
    content: "";
    position: absolute;
  }
}

.hiddenInner {
  filter: blur(16px);

  .containerLeft,
  .containerRigth {
    transform: translateX(20px);
    opacity: 0;
  }
}

.imagesWrapper {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
  position: relative;
  height: 100%;

  img {
    position: absolute;
    left: 4px;
    top: 0;
    transition: all 300ms ease-in-out;

    &:nth-child(2) {
      left: calc($widthIcon + 8px);
      transition-delay: 0.15s;

      @include screen-medium-down {
        left: calc(86px + 8px);
      }
    }
  }
}

.wrapperMobileContainer {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: flex-start;

  @include screen-oversized-up {
    display: none;
  }

  .arrowIcon {
    height: 10px;
    width: 40px;
    margin-left: $indent-16;
  }
}

.wrapper.mobile {
  height: auto;
  padding-bottom: $indent-36;
}

.containerLeft.mobile{
  padding: 0;
  justify-content: stretch;

  &::before {
    display: none;
  }
}