@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.row {
  @include grid;
  @include grid-container;
  @include grid-columns-span-all;

  @include screen-medium-down {
    @include grid-columns-span-all;
  }
}

.wrapper {
  position: relative;

  @include screen-small-down {
    padding: 0
  }
}

.containerText {
  position: relative;
  @include grid-with-inner-context {
    @include grid-with-offset((small: 0, large: 1)) {
      @include grid-columns-span((small: 6, medium: 12, large: 10));
    }
  };

  align-items: center;
  padding: $indent-40 0;
  background-color: $color-gray-extra-light;
  border-radius: 16px;
  margin-bottom: $indent-80;
  overflow: hidden;

  @include screen-small-down {
    padding: $indent-24;
    margin-top: $indent-20;
    margin-bottom: $indent-96;
  }
  @include screen-tiny-only {
    @include grid;
    @include grid-container;
    @include grid-columns-span-all;
  }
}

.text {
  @include typo-make-h4;
  font-weight: 600;
  color: $color-discussion-text;

  @include grid-with-offset((medium: 0, large: 1)) {
    @include grid-columns-span((medium: 8, large: 5));
  }

  @include screen-large-down {
    margin-bottom: $indent-24;
  }
  @include screen-medium-down {
    padding-left: $indent-24;
  }
  @include screen-small-down {
    padding-right: 0;
    padding-left: 0;
  }
}

.button {
  white-space: nowrap;

  @include grid-with-offset((medium: 0, large: 6, huge: 7)) {
    @include grid-columns-span((small: 4, large: 3, huge: 2));
  }
  
  @include screen-medium-down {
    padding-right: $indent-24;
  }
  @include screen-small-down {
    padding-right: 0;
  }
  @include screen-tiny-only {
    @include grid-columns-span-all;
  }
}

.buttonWhiteLayer {
  width: 100%;

  @include screen-huge-only {
    width: calc(100% + 32px)
  }
}

.buttonContent {
  display: flex;
  align-items: center;
  gap: 0;

  svg {
    height: 16px;
    width: 16px;
    fill: $color-bluemarin;
    margin-right: $indent-8;
  }

  span {
    @include typo-make-small;
    font-weight: 600;
  }
}

.svg {
  display: flex;
  align-items: center;
  gap: 0;

  svg {
    height: 16px;
    width: 16px;
    fill: $color-bluemarin;
    margin-right: $indent-8;
  }
}