@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/placeholders/helpers' as *;

.wrapperSlider {
  @include grid;
  display: grid !important;
  position: relative;
  overflow: visible;

  padding: 0 $grid-padding-size;
}

.container,
.wrapperSlider {
  @include grid-columns-span-all;
}

.wrapperSlider .container {
  gap: 0;
  cursor: pointer;
  overflow: visible !important;
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1)) {
      @include grid-columns-span((large: 11));
    }
  }
  padding-left: 0;

  @include screen-large-up {
    grid-column-start: 2;
  }
}

.slide {
  display: block;
  position: relative;
  width: 468px !important;
  height: 428px !important;
  padding: $indent-32;
  border: 1px solid $color-gray-middle;
  border-radius: 16px;

  @include screen-small-down {
    width: 175px !important;
    height: 262px !important;
  }

  & + .slide {
    margin-left: -1px;
  }

  &.active {
    background-color: $color-yellow-yamal;
  }

  &.mask {
    border-color: rgba($color-gray-middle, 0.64);

    * {
      opacity: .64;
    }
  }

  &:last-child .icon {
    display: none;
  }

  @include screen-small-down {
    display: flex;
    flex-direction: column;

    width: 175px;
    height: 262px;

    padding: $indent-20 $indent-12 $indent-16;
  }
}

.background {
  background-repeat: no-repeat;
  background-size: cover;

  &:nth-child(1) {
    background-image: url("data:image/svg+xml,%3Csvg width='468' height='428' viewBox='0 0 468 428' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6101_79056)'%3E%3Cpath d='M-22.4514 118.593C-29.9865 113.638 -36.0784 106.781 -40.1104 98.7141C-44.1423 90.6477 -45.9711 81.6591 -45.4113 72.6585L-33.961 -111.092C-33.4539 -119.244 -34.9055 -127.399 -38.1944 -134.875C-41.4833 -142.352 -46.514 -148.932 -52.866 -154.067L-92.7237 -186.272C-102.141 -193.885 -108.555 -204.59 -110.828 -216.485L-116.211 -244.719C-117.922 -253.696 -117.198 -262.968 -114.113 -271.571C-111.028 -280.174 -105.695 -287.793 -98.6684 -293.637L-98.2487 -293.989C-90.2558 -300.639 -84.4786 -309.567 -81.6864 -319.582C-78.8942 -329.598 -79.2195 -340.227 -82.6191 -350.053L-102.07 -406.278C-102.252 -396.611 -105.131 -387.186 -110.38 -379.066C-115.629 -370.945 -123.041 -364.451 -131.781 -360.316L-132.291 -360.083C-140.699 -356.123 -147.894 -349.983 -153.126 -342.302C-158.359 -334.621 -161.439 -325.678 -162.046 -316.404L-163.96 -287.244C-164.769 -274.953 -161.188 -262.774 -153.855 -252.877L-122.855 -210.993C-117.91 -204.317 -114.636 -196.553 -113.307 -188.352C-111.978 -180.151 -112.633 -171.751 -115.216 -163.854L-173.413 14.0931C-176.266 22.8099 -176.764 32.126 -174.856 41.0971C-172.948 50.0682 -168.702 58.3754 -162.548 65.1765L4.81382 250.181C13.9312 260.26 26.6302 266.371 40.195 267.208C53.7598 268.045 67.1136 263.541 77.4005 254.659L123.703 214.684L-22.4514 118.593Z' fill='%23E3F655'/%3E%3Cpath d='M-100.851 -800.053L-149.277 -716.558C-155.488 -705.851 -157.678 -693.28 -155.454 -681.102C-153.23 -668.925 -146.738 -657.94 -137.143 -650.119C-131.695 -645.678 -127.205 -640.18 -123.941 -633.955C-120.677 -627.731 -118.708 -620.91 -118.153 -613.904L-102.088 -411.501C-101.995 -409.769 -101.989 -408.035 -102.071 -406.303L-102.071 -406.286L-82.6218 -350.06C-79.2229 -340.234 -78.8978 -329.605 -81.6901 -319.59C-84.4823 -309.574 -90.2592 -300.646 -98.2515 -293.996L-98.6788 -293.645C-105.704 -287.8 -111.035 -280.18 -114.12 -271.578C-117.206 -262.976 -117.931 -253.704 -116.223 -244.727L-110.839 -216.493C-108.567 -204.595 -102.15 -193.889 -92.7276 -186.278L-52.8778 -154.077C-46.5229 -148.944 -41.4901 -142.364 -38.2007 -134.886C-34.9113 -127.409 -33.4611 -119.252 -33.9714 -111.099L-45.4218 72.6492C-45.9806 81.6498 -44.1515 90.6384 -40.1196 98.7048C-36.0877 106.771 -29.9962 113.629 -22.4617 118.585L123.7 214.677L123.709 214.677L301.767 60.95C307.568 55.9416 312.192 49.7144 315.308 42.713L385.722 -115.58C389.167 -123.315 394.446 -130.093 401.102 -135.328C407.757 -140.562 415.589 -144.095 423.918 -145.619L462.583 -158.881L462.599 -158.908L462.599 -158.915C467.857 -167.147 477.066 -171.118 488.274 -176.31L587.584 -223.221L587.593 -223.221C588.71 -226.524 589.488 -229.932 589.915 -233.393L598.022 -305.096C600.582 -327.712 540.705 -395.92 543.42 -418.639L543.697 -420.929C545.172 -433.255 542.193 -445.701 535.295 -456.023C528.398 -466.344 518.039 -473.859 506.086 -477.212L440.368 -495.656C427.66 -499.221 416.782 -507.48 409.935 -518.763C403.089 -530.046 400.785 -543.51 403.491 -556.427L405.289 -564.985L405.289 -565.002C393.812 -566.941 383.343 -572.743 375.616 -581.447C367.89 -590.151 363.369 -601.235 362.805 -612.86L362.329 -622.907C362.001 -629.078 360.554 -635.138 358.058 -640.792L358.058 -640.801C358.058 -640.775 315.282 -674.616 315.282 -674.616L315.275 -674.626L80.5905 -778.072C73.998 -780.978 66.8664 -782.459 59.6621 -782.418C52.4579 -782.378 45.3432 -780.817 38.7838 -777.837L2.78591 -761.48C-5.33024 -757.795 -14.2684 -756.293 -23.1433 -757.125C-32.0182 -757.957 -40.5219 -761.092 -47.8122 -766.221L-86.157 -793.199C-90.6511 -796.264 -95.6103 -798.584 -100.843 -800.07L-100.851 -800.053Z' fill='%23E3F655'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6101_79056'%3E%3Crect width='468' height='428' rx='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &:nth-child(2) {
    background-image: url("data:image/svg+xml,%3Csvg width='468' height='201' viewBox='0 0 468 201' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.8082 73.801L87.1566 100.779C94.4483 105.908 102.953 109.044 111.83 109.875C120.706 110.707 129.645 109.206 137.763 105.52L173.762 89.1622C180.319 86.1829 187.433 84.622 194.635 84.5816C201.838 84.5412 208.968 86.0223 215.559 88.9278L450.25 192.383L302.866 75.841C297.118 71.2981 290.477 68.0192 283.375 66.2188C276.273 64.4184 268.872 64.1369 261.654 65.3929L222.045 72.2958C213.114 73.8541 203.931 73.0511 195.406 69.9662C186.881 66.8814 179.31 61.6219 173.445 54.7093L142.586 18.3616C137.194 12.0099 130.357 7.0457 122.648 3.88638C114.938 0.727067 106.584 -0.534988 98.2852 0.20636C89.9869 0.947707 81.988 3.67081 74.961 8.1466C67.934 12.6224 62.0845 18.7202 57.9043 25.9269L34.124 66.93C39.3566 68.4153 44.3151 70.7355 48.8082 73.801Z' fill='%23E3F655'/%3E%3Cpath d='M34.141 66.9467L-14.2848 150.442C-20.496 161.149 -22.6862 173.72 -20.4622 185.898C-18.2382 198.075 -11.7457 209.06 -2.1505 216.881C3.29671 221.322 7.78767 226.82 11.0515 233.045C14.3153 239.269 16.2843 246.09 16.8397 253.096L32.904 455.499C32.9976 457.231 33.0031 458.965 32.9207 460.697L32.9207 460.714L52.3704 516.94C55.7693 526.766 56.0943 537.395 53.3021 547.41C50.5099 557.426 44.733 566.354 36.7406 573.004L36.3134 573.355C29.2886 579.2 23.9569 586.82 20.8717 595.422C17.7867 604.024 17.0608 613.296 18.7694 622.273L24.1534 650.507C26.4253 662.405 32.8427 673.111 42.2646 680.722L82.1144 712.923C88.4693 718.056 93.5021 724.636 96.7915 732.114C100.081 739.591 101.531 747.748 101.021 755.901L89.5704 939.649C89.0115 948.65 90.8407 957.638 94.8726 965.705C98.9045 973.771 104.996 980.629 112.531 985.585L258.693 1081.68L258.702 1081.68L436.759 927.95C442.56 922.942 447.184 916.714 450.3 909.713L520.715 751.42C524.159 743.685 529.438 736.907 536.094 731.672C542.75 726.438 550.581 722.905 558.91 721.381L597.575 708.119L597.591 708.092L597.591 708.085C602.85 699.853 612.058 695.882 623.267 690.69L722.576 643.779L722.585 643.779C723.702 640.476 724.48 637.068 724.907 633.607L733.014 561.904C735.574 539.288 675.697 471.08 678.412 448.361L678.689 446.071C680.165 433.745 677.185 421.299 670.288 410.977C663.391 400.656 653.031 393.141 641.079 389.788L575.36 371.344C562.653 367.779 551.774 359.52 544.928 348.237C538.081 336.954 535.778 323.49 538.484 310.573L540.281 302.015L540.281 301.998C528.805 300.059 518.335 294.257 510.609 285.553C502.882 276.849 498.362 265.765 497.797 254.14L497.321 244.093C496.993 237.922 495.546 231.862 493.05 226.208L493.05 226.199C493.05 226.225 450.274 192.384 450.274 192.384L450.267 192.374L215.583 88.9277C208.99 86.0222 201.859 84.5412 194.654 84.5817C187.45 84.6222 180.335 86.1831 173.776 89.1625L137.778 105.52C129.662 109.205 120.724 110.707 111.849 109.875C102.974 109.043 94.4702 105.908 87.18 100.779L48.8352 73.8009C44.3411 70.7357 39.3819 68.4155 34.1488 66.93L34.141 66.9467Z' fill='%23E3F655'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: bottom;
  }

  &:nth-child(3) {
    background-image: url("data:image/svg+xml,%3Csvg width='468' height='428' viewBox='0 0 468 428' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6101_79067)'%3E%3Cpath d='M248.816 248.801L287.164 275.779C294.456 280.909 302.961 284.044 311.837 284.876C320.714 285.707 329.653 284.206 337.771 280.52L373.769 264.163C380.327 261.183 387.44 259.623 394.643 259.582C401.846 259.542 408.976 261.023 415.567 263.928L650.258 367.383L502.874 250.842C497.126 246.299 490.485 243.02 483.383 241.219C476.281 239.419 468.88 239.137 461.662 240.393L422.053 247.296C413.122 248.855 403.939 248.052 395.414 244.967C386.889 241.882 379.318 236.622 373.452 229.71L342.594 193.362C337.202 187.01 330.364 182.046 322.655 178.887C314.946 175.728 306.591 174.466 298.293 175.207C289.995 175.948 281.996 178.671 274.969 183.147C267.942 187.623 262.092 193.721 257.912 200.927L234.132 241.931C239.364 243.416 244.323 245.736 248.816 248.801Z' fill='%23E3F655'/%3E%3Cpath d='M234.149 241.947L185.723 325.442C179.512 336.149 177.322 348.72 179.546 360.898C181.77 373.075 188.262 384.06 197.857 391.881C203.305 396.322 207.795 401.82 211.059 408.045C214.323 414.269 216.292 421.09 216.847 428.096L232.912 630.499C233.005 632.231 233.011 633.965 232.929 635.697L232.929 635.714L252.378 691.94C255.777 701.766 256.102 712.395 253.31 722.41C250.518 732.426 244.741 741.354 236.748 748.004L236.321 748.355C229.296 754.2 223.965 761.82 220.88 770.422C217.794 779.024 217.069 788.296 218.777 797.273L224.161 825.507C226.433 837.405 232.85 848.111 242.272 855.722L282.122 887.923C288.477 893.056 293.51 899.636 296.799 907.114C300.089 914.591 301.539 922.748 301.029 930.901L289.578 1114.65C289.019 1123.65 290.849 1132.64 294.88 1140.7C298.912 1148.77 305.004 1155.63 312.538 1160.58L458.7 1256.68L458.709 1256.68L636.767 1102.95C642.568 1097.94 647.192 1091.71 650.308 1084.71L720.722 926.42C724.167 918.685 729.446 911.907 736.102 906.672C742.757 901.438 750.589 897.905 758.918 896.381L797.583 883.119L797.599 883.092L797.599 883.085C802.857 874.853 812.066 870.882 823.274 865.69L922.584 818.779L922.593 818.779C923.71 815.476 924.488 812.068 924.915 808.607L933.022 736.904C935.582 714.288 875.705 646.08 878.42 623.361L878.697 621.071C880.172 608.745 877.193 596.299 870.295 585.977C863.398 575.656 853.039 568.141 841.086 564.788L775.368 546.344C762.66 542.779 751.782 534.52 744.935 523.237C738.089 511.954 735.785 498.49 738.491 485.573L740.289 477.015L740.289 476.998C728.812 475.059 718.343 469.257 710.616 460.553C702.89 451.849 698.369 440.765 697.805 429.14L697.329 419.093C697.001 412.922 695.554 406.862 693.058 401.208L693.058 401.199C693.058 401.225 650.282 367.384 650.282 367.384L650.275 367.374L415.59 263.928C408.998 261.022 401.866 259.541 394.662 259.582C387.458 259.622 380.343 261.183 373.784 264.163L337.786 280.52C329.67 284.205 320.732 285.707 311.857 284.875C302.982 284.043 294.478 280.908 287.188 275.779L248.843 248.801C244.349 245.736 239.39 243.416 234.157 241.93L234.149 241.947Z' fill='%23E3F655'/%3E%3C/g%3E%3Crect width='468' height='428' rx='16' stroke='%23AEB3CC'/%3E%3Cdefs%3E%3CclipPath id='clip0_6101_79067'%3E%3Crect width='468' height='428' rx='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  &:nth-child(4) {
    background-image: url("data:image/svg+xml,%3Csvg width='321' height='268' viewBox='0 0 321 268' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-22.4514 118.593C-29.9865 113.638 -36.0784 106.781 -40.1104 98.7141C-44.1423 90.6477 -45.9711 81.6591 -45.4113 72.6585L-33.961 -111.092C-33.4539 -119.244 -34.9055 -127.399 -38.1944 -134.875C-41.4833 -142.352 -46.514 -148.932 -52.866 -154.067L-92.7237 -186.272C-102.141 -193.885 -108.555 -204.59 -110.828 -216.485L-116.211 -244.719C-117.922 -253.696 -117.198 -262.968 -114.113 -271.571C-111.028 -280.174 -105.695 -287.793 -98.6684 -293.637L-98.2487 -293.989C-90.2558 -300.639 -84.4786 -309.567 -81.6864 -319.582C-78.8942 -329.598 -79.2195 -340.227 -82.6191 -350.053L-102.07 -406.278C-102.252 -396.611 -105.131 -387.186 -110.38 -379.066C-115.629 -370.945 -123.041 -364.451 -131.781 -360.316L-132.291 -360.083C-140.699 -356.123 -147.894 -349.983 -153.126 -342.302C-158.359 -334.621 -161.439 -325.678 -162.046 -316.404L-163.96 -287.244C-164.769 -274.953 -161.188 -262.774 -153.855 -252.877L-122.855 -210.993C-117.91 -204.317 -114.636 -196.553 -113.307 -188.352C-111.978 -180.151 -112.633 -171.751 -115.216 -163.854L-173.413 14.0931C-176.266 22.8099 -176.764 32.126 -174.856 41.0971C-172.948 50.0682 -168.702 58.3754 -162.548 65.1765L4.81382 250.181C13.9312 260.26 26.6302 266.371 40.195 267.208C53.7598 268.045 67.1136 263.541 77.4005 254.659L123.703 214.684L-22.4514 118.593Z' fill='%23E3F655'/%3E%3Cpath d='M-100.851 -800.053L-149.277 -716.558C-155.488 -705.851 -157.678 -693.28 -155.454 -681.102C-153.23 -668.925 -146.738 -657.94 -137.143 -650.119C-131.695 -645.678 -127.205 -640.18 -123.941 -633.955C-120.677 -627.731 -118.708 -620.91 -118.153 -613.904L-102.088 -411.501C-101.995 -409.769 -101.989 -408.035 -102.071 -406.303L-102.071 -406.286L-82.6218 -350.06C-79.2229 -340.234 -78.8978 -329.605 -81.6901 -319.59C-84.4823 -309.574 -90.2592 -300.646 -98.2515 -293.996L-98.6788 -293.645C-105.704 -287.8 -111.035 -280.18 -114.12 -271.578C-117.206 -262.976 -117.931 -253.704 -116.223 -244.727L-110.839 -216.493C-108.567 -204.595 -102.15 -193.889 -92.7276 -186.278L-52.8778 -154.077C-46.5229 -148.944 -41.4901 -142.364 -38.2007 -134.886C-34.9113 -127.409 -33.4611 -119.252 -33.9714 -111.099L-45.4218 72.6492C-45.9806 81.6498 -44.1515 90.6384 -40.1196 98.7048C-36.0877 106.771 -29.9962 113.629 -22.4617 118.585L123.7 214.677L123.709 214.677L301.767 60.95C307.568 55.9416 312.192 49.7144 315.308 42.713L385.722 -115.58C389.167 -123.315 394.446 -130.093 401.102 -135.328C407.757 -140.562 415.589 -144.095 423.918 -145.619L462.583 -158.881L462.599 -158.908L462.599 -158.915C467.857 -167.147 477.066 -171.118 488.274 -176.31L587.584 -223.221L587.593 -223.221C588.71 -226.524 589.488 -229.932 589.915 -233.393L598.022 -305.096C600.582 -327.712 540.705 -395.92 543.42 -418.639L543.697 -420.929C545.172 -433.255 542.193 -445.701 535.295 -456.023C528.398 -466.344 518.039 -473.859 506.086 -477.212L440.368 -495.656C427.66 -499.221 416.782 -507.48 409.935 -518.763C403.089 -530.046 400.785 -543.51 403.491 -556.427L405.289 -564.985L405.289 -565.002C393.812 -566.941 383.343 -572.743 375.616 -581.447C367.89 -590.151 363.369 -601.235 362.805 -612.86L362.329 -622.907C362.001 -629.078 360.554 -635.138 358.058 -640.792L358.058 -640.801C358.058 -640.775 315.282 -674.616 315.282 -674.616L315.275 -674.626L80.5905 -778.072C73.998 -780.978 66.8664 -782.459 59.6621 -782.418C52.4579 -782.378 45.3432 -780.817 38.7838 -777.837L2.78591 -761.48C-5.33024 -757.795 -14.2684 -756.293 -23.1433 -757.125C-32.0182 -757.957 -40.5219 -761.092 -47.8122 -766.221L-86.157 -793.199C-90.6511 -796.264 -95.6103 -798.584 -100.843 -800.07L-100.851 -800.053Z' fill='%23E3F655'/%3E%3C/svg%3E ");
    background-size: contain;
  }

  &:nth-child(5) {
    background-image: url("data:image/svg+xml,%3Csvg width='468' height='428' viewBox='0 0 468 428' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6101_79077)'%3E%3Cpath d='M-545.851 -273.053L-594.277 -189.558C-600.488 -178.851 -602.678 -166.28 -600.454 -154.102C-598.23 -141.925 -591.738 -130.94 -582.143 -123.119C-576.695 -118.678 -572.205 -113.18 -568.941 -106.955C-565.677 -100.731 -563.708 -93.9102 -563.153 -86.9042L-547.088 115.499C-546.995 117.231 -546.989 118.965 -547.071 120.697L-547.071 120.714L-527.622 176.94C-524.223 186.766 -523.898 197.395 -526.69 207.41C-529.482 217.426 -535.259 226.354 -543.252 233.004L-543.679 233.355C-550.704 239.2 -556.035 246.82 -559.12 255.422C-562.206 264.024 -562.931 273.296 -561.223 282.273L-555.839 310.507C-553.567 322.405 -547.15 333.111 -537.728 340.722L-497.878 372.923C-491.523 378.056 -486.49 384.636 -483.201 392.114C-479.911 399.591 -478.461 407.748 -478.971 415.901L-490.422 599.649C-490.981 608.65 -489.151 617.638 -485.12 625.705C-481.088 633.771 -474.996 640.629 -467.462 645.585L-321.3 741.677L-321.291 741.677L-143.233 587.95C-137.432 582.942 -132.808 576.714 -129.692 569.713L-59.2776 411.42C-55.833 403.685 -50.5541 396.907 -43.8984 391.672C-37.2427 386.438 -29.4109 382.905 -21.0818 381.381L17.5826 368.119L17.5989 368.092L17.5989 368.085C22.8574 359.853 32.0662 355.882 43.2744 350.69L142.584 303.779L142.593 303.779C143.71 300.476 144.488 297.068 144.915 293.607L153.022 221.904C155.582 199.288 95.7049 131.08 98.4199 108.361L98.697 106.071C100.172 93.7454 97.1925 81.2986 90.2954 70.9774C83.3984 60.6563 73.0386 53.141 61.0864 49.7884L-4.63225 31.3436C-17.3396 27.7793 -28.2179 19.5195 -35.0645 8.23656C-41.9112 -3.0464 -44.2146 -16.5095 -41.5086 -29.427L-39.7112 -37.9854L-39.7112 -38.0021C-51.1875 -39.9407 -61.6567 -45.7429 -69.3835 -54.4471C-77.1103 -63.1513 -81.6306 -74.2346 -82.195 -85.8598L-82.6713 -95.9065C-82.9991 -102.078 -84.4463 -108.138 -86.9424 -113.792L-86.9424 -113.801C-86.9424 -113.775 -129.718 -147.616 -129.718 -147.616L-129.725 -147.626L-364.41 -251.072C-371.002 -253.978 -378.134 -255.459 -385.338 -255.418C-392.542 -255.378 -399.657 -253.817 -406.216 -250.837L-442.214 -234.48C-450.33 -230.795 -459.268 -229.293 -468.143 -230.125C-477.018 -230.957 -485.522 -234.092 -492.812 -239.221L-531.157 -266.199C-535.651 -269.264 -540.61 -271.584 -545.843 -273.07L-545.851 -273.053Z' fill='%23E3F655'/%3E%3C/g%3E%3Crect width='468' height='428' rx='16' stroke='%23AEB3CC'/%3E%3Cdefs%3E%3CclipPath id='clip0_6101_79077'%3E%3Crect width='468' height='428' rx='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.slideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc($indent-80 + $indent-20);

  @include screen-small-down {
    margin-bottom: calc($indent-16 * 3);
  }
}

.date {
  text-transform: uppercase;
  @include typo-medium-text;
  font-weight: 600;

  @include screen-small-down {
    @include typo-make-small;
    font-weight: 600;
  }
}

.icon {
  width: 90px;
  height: 10px;
  stroke: $color-dark-color;
  fill: none;

  @include screen-small-down {
    width: 28.5px;
  }
}

.step {
  margin-bottom: $indent-40;
  font-size: calc($indent-40 + $indent-32);
  line-height: calc($indent-40 + $indent-32);
  font-weight: 700;

  @include screen-small-down {
    font-size: 48px;
    margin-bottom: 0
  }
}

.description {
  @include typo-make-h4;

  @include screen-small-down {
    margin-top: auto;
    font-weight: 400;
  }
}

.prev,
.next {
  width: 92px;
  height: 40px;
  border: 1px solid $color-gray-deep;
  border-radius: 16px;

  svg {
    fill: $color-gray-deep;
  }
}
