@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/placeholders/helpers' as *;

.btn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 50%;
  right: $grid-padding-size;
  transform: translateY(-50%);
  border: 1px solid $color-gray-deep;
  width: 92px;
  height: 40px;
  border-radius: 16px;
  @include screen-medium-down {
    display: none;
  }

  &:hover {
    background-color: rgba($color-white, 0.3);
  }

  &.prev {
    left: $grid-padding-size;
    .icon {
      transform: rotate(180deg);
      margin-right: auto;
      margin-left: $indent-20;
    }
  }
}

.icon {
  margin-left: auto;
  margin-right: $indent-20;
  width: 9px;
  height: 16px;
  fill: $color-gray-deep;
}

