@use '../../../styles/variables.scss' as *;
@use '../../../styles/variables/indent-system.scss' as *;
@use '../../../styles/variables/grid.scss' as *;
@use '../../../styles/mixins.scss' as *;
@use '../../../styles/placeholders.scss' as *;

.shedule {
    @include grid-with-offset((small: 0, medium: 0, large: 1)) {
        @include grid-columns-span((small: 6, medium: 12, large: 10));
    }
}

.header {
    @include typo-make-h2;
    font-weight: 700;
    color: $color-black;
    margin-bottom: $indent-32;

    @include screen-small-down {
        margin-bottom: 16px;
    }
}

.calendarWrapper {
  position: relative;
}

.cards {
    margin-top: $indent-20;

    @include screen-small-down {
        margin-top: 24px;
    }
}

.card:not(:last-child) {
    margin-bottom: $indent-8;

    @include screen-small-down {
        margin-bottom: 16px;
      }
}
