@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.pageWrapper {
  @include grid-container;
  @include grid;

  padding-top: 88px;
  @include screen-medium-up {
    padding-top: calc(96px + $indent-48);
  }
}

.page {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1, huge: 1)) {
      @include grid-columns-span((large: 10, huge: 10));
    }
  }
  
  margin-bottom: calc($indent-80 + $indent-80 + $indent-24);
}

.header {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: $indent-16;
  margin-bottom: calc($indent-16 + $indent-16);
  @include grid-columns-span-all;

  @include screen-small-down {
    flex-direction: column;
    align-items: initial;
  }
}

.selectButtonWrapper {
  z-index: 99;
}

.main {
  height: fit-content;
  @include grid-columns-span-all;
}

.searchResults {
  margin-top: $indent-80;
}

.result {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 7, medium: 10, large: 10, huge: 10));
  }

  display: inline-block;

  &:hover {
    .resultTitle {
      color: $color-bluemarin-light;
    }
  }

  &:active {
    .resultTitle {
      color: $color-bluemarin-extra-light;
    }
  }

  &:not(:last-child) {
    margin-bottom: calc($indent-24 + $indent-24);

    @include screen-small-down {
      margin-bottom: calc($indent-20 + $indent-8);
    }
  }
}

.titleWrapper {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 7, medium: 10, large: 10, huge: 10));
  }

  @include typo-make-h4;

  margin-bottom: $indent-16;

  @include screen-small-down {
    gap: $indent-16;
    margin-bottom: $indent-12;
  }
}

.resultTitle {
  @include grid-columns-span((small: 6, medium: 9, large: 9, huge: 9));
  @include typo-make-h4;
}

.infoWrapper {
  @include grid-columns-span-all;
  grid-column-start: 2;
}

.info {
  display: flex;
  gap: $indent-24;

  @include screen-small-down {
    gap: $indent-12;
  }
}

.img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: $indent-8;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text * {
  all: unset !important;
}

.text,
.text *,
.message {
  @include typo-make-text;
  color: $color-black-lighter;
}

.pageName {
  @include typo-make-small;
  color: $color-bluemarin;
}

.paginationWrapper {
  margin-top: calc($indent-20 * 4);
}