@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders.scss' as *;

.sliderItem {
  padding: 0 24px;
  
  .image {
    border-radius: 16px;
    aspect-ratio: 16/9;
    width: 100%;height: 100%;
  }
}

.slide {
  margin-right: 0 !important;
}
