@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders/grid' as *;

.modal {
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../../images/modal_back.png');
  }
}
