@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  gap: 0;
  align-items: center;
}

.text {
  @include typo-make-small;
  color: $color-blue-gray;
  text-transform: uppercase;
}

.socialList {
  margin-left: $indent-16;
  gap: 0;
  svg {
    fill: $color-blue-gray;
  }

  a:not(:last-child) {
    margin-right: $indent-16;
  }
}
