@use '../styles/components/select';
@use '../styles/components/modal';
@use './components/input-fields';
@use './components/slider';
@use './components/copyright';
@use './components/animation';
@use './components/range';
@use './components/events';
@use './components/shop__card';
