@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include grid;
  @include grid-container;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba($color-black, 0.5);
  padding-top: $indent-40;
  padding-bottom: $indent-96;
  max-height: 100vh;
  color: $color-white;


  &.isOpen {
    opacity: 1;
    visibility: visible;
    z-index: 101;
  }
}

.content {
  @include grid-with-inner-context {
    @include grid-with-offset((medium: 1,large: 1, huge: 2)) {
      @include grid-columns-span((small: 6, medium: 10, large: 10, huge: 8));
    }
  }

  grid-auto-rows: 1fr max-content;

  @include screen-large-up {
    grid-auto-rows: minmax(680px, 1fr) max-content;
  }
  max-height: calc(100vh - 100px);
}

.imageWrapper {
  position: relative;
  @include grid-columns-span-all;
  background-color: $color-gray-extra-light;
  margin-bottom: $indent-32;
  border-radius: 16px;
  overflow: hidden;
  padding: $indent-16;
}

.swiper {
  height: 100%;

  :global(.swiper-wrapper) {
    gap: 0;
  }

  .swiperSlide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
}


.infoWrapper {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 6, medium: 10, huge: 8));
  }
  align-items: center;
}

.info{
  height: 2em;
  @include grid-columns-span((medium: 6));
  font-weight: 600;
  margin-bottom: $indent-32;
}

.counter {
  @include grid-with-offset((medium: 7, large: 7, huge: 6)) {
    @include grid-columns-span((small: 4, medium: 1, large: 1, huge: 1));
  }

  white-space: nowrap;
}

.buttons {
  @include grid-columns-span((small: 2, medium: 2, huge: 1));
  display: flex;
  column-gap: 4px;
  justify-content: flex-end;

  .button {
    flex-shrink: 0;
    padding: 0;
    width: $indent-64;
    height: $indent-64;
  }
}

.icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.iconLeft {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M7.03039 12.6265L1.34315 7L7.00001 1.34315' stroke='url(%23paint0_linear_6098_12284)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6098_12284' x1='7.00001' y1='12.6569' x2='12.6569' y2='7' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2387D9E6'/%3E%3Cstop offset='0.331705' stop-color='%238994F8'/%3E%3Cstop offset='0.679972' stop-color='%23B392F4'/%3E%3Cstop offset='1' stop-color='%23EBC2C6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.iconRight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M0.96961 12.6265L6.65685 7L0.999995 1.34315' stroke='url(%23paint0_linear_6098_12268)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_6098_12268' x1='0.999993' y1='12.6569' x2='-4.65686' y2='7' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2387D9E6'/%3E%3Cstop offset='0.331705' stop-color='%238994F8'/%3E%3Cstop offset='0.679972' stop-color='%23B392F4'/%3E%3Cstop offset='1' stop-color='%23EBC2C6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.closeButton {
  width: fit-content;
  height: fit-content;

  position: absolute;
  right: calc($grid-padding-size + 20px);
  top: calc($indent-40 + 20px);
  z-index: 1;

  @include screen-medium-up {
    position: static;
  }

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: rotate(-90deg);

    .closeIcon {
      fill: $color-bluemarin-light;
    }
  }
}

.closeIcon {
  fill: $color-dark-color;
  width: 24px;
  height: 24px;
  transition: fill 0.2s ease-in-out 0.1s;

  @include screen-medium-up {
    fill: $color-white;
  }
}
