@use '../../styles/placeholders' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use "sass:math";

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.24;
    pointer-events: none;
    animation: rotate360 100s linear infinite;

    @include screen-small-down {
        display: none;
    }
}

.topFigure {
    position: absolute;
    width: 696.49px;
    height: 484.98px;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    animation: moveFirstObject 100s infinite linear;
}

.middleFigure {
    position: absolute;
    width: 540.52px;
    height: 662.3px;
    left: 52%;
    transform: translateX(-50%);
    top: 16%;
    animation: moveMiddleObject 100s linear infinite;
}

.bottomFigure {
    position: absolute;
    width: 696.49px;
    height: 464.68px;
    left: 51%;
    transform: translateX(-50%);
    top: 37%;
    animation: identifier3 100s linear infinite;
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

$randomPercent: math.percentage(randomNum(0.01, 0.1));

@keyframes rotate360 {
    0% {
        transform: rotate(0deg) scale(1) translateX(calc($randomPercent * -1)) translateY(0);
        // filter: blur(0);
    }

    50% {
        transform: rotate(180deg) scale(1.2) translateX(10%) translateY(15%);
        // filter: blur(24px);
    }

    100% {
        transform: rotate(359deg) scale(1.01) translateX($randomPercent) translateY(1%);
        // filter: blur(1px);
    }
}

@keyframes moveFirstObject {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(#{randomNum(5, 25)}px, #{randomNum(5, 50)}px);
    }

    100% {
        transform: translate(1px, 1px);
    }
}

@keyframes moveMiddleObject {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(#{randomNum(5, 25)}px, #{randomNum(5, 50)}px);
    }

    100% {
        transform: translate(1px, 1px);
    }
}

@keyframes moveMiddleObject {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(#{randomNum(5, 25)}px, #{randomNum(5, 50)}px);
    }

    100% {
        transform: translate(1px, 1px);
    }
}
