@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.files {
  display: flex;
  flex-wrap: wrap;
  column-gap: $indent-16;
  row-gap: $indent-8;
  width: 100%;

  @include screen-medium-down {
    column-gap: $indent-8;
    row-gap: $indent-8;
  }
}

.inputWrapper {
  position: relative;
  display: inline-block;
  border: 1px solid $color-gray-middle;
  border-radius: 8px;
  padding: $indent-8 $indent-16 $indent-8 $indent-8;
  @include typo-make-small;
  color: $color-gray-blue;
  cursor: pointer;
  transition: color .1s linear,
              border-color .1s linear;
  flex-shrink: 0;

  &.singleMode {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .input {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: $indent-16;
    cursor: pointer;
  }

  .clipSvg {
    width: 16px;
    height: 16px;
    stroke: $color-blue-gray;
    fill: none;

    transition: stroke .1s linear,
  }  

  &:hover {
    border-color: transparent;
    color: $color-blue-light;

    .clipSvg {
      stroke: $color-blue-light;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.errorText {
  color: $color-error;
  @include typo-make-small;
}