@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  @include grid-with-inner-context {
    @include grid-columns-span(( small: 4, medium: 6, large: 4 ));
  }
  position: relative;
  border-radius: 16px;
  border: none;
  height: 400px;
  width: 100%;
  padding: $indent-48 0;
  background-repeat: no-repeat;
  background-color: $color-white;
  // filter: blur(0);
  transform: translateX(0);
  // will-change: filter;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-linear-gradient(white, black);
  border-radius: 16px;
  transition:
    transform .2s linear,
    filter 1s linear;

  @include screen-medium-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $indent-32;
    height: 280px;
  }

  &.contrast {
    .header,
    .main  {
      color: $color-white;
}
  }

  .main {
    align-self: end;
    @include grid-with-offset((huge: 1)) {
      @include grid-columns-span((huge: 2));
    }
  
    @include screen-large-only {
      padding-left: $indent-40;
      padding-right: $indent-40;
    }
  }

  &:hover {
    @include screen-medium-up {
      .main {
        transform: translateY(-4px);
      }
  
      .background {
        // filter: blur(16px);
        // will-change: filter;
        transform: scale(1.3);
      }
  
      &:active {
        .main {
          transform: translateY(-2px);
        }
  
        .background {
          opacity: .92;
        }
      }
    }
  }
}

.background {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  left: 0;
  top: 0;
  pointer-events: none;
  transition:
    transform .6s ease-out,
}

.header {
  text-transform: uppercase;
  @include typo-make-small;
  @include grid-columns-span(( small: 4, large: 2 ));

  @include screen-large-up {
    padding-left: $indent-40;
  }
}

.title {
  @include typo-make-h4($isHeading: true);
  font-weight: 600;
  margin-bottom: $indent-24;
}

.description {
  @include typo-medium-text;
}

.main {
  transition: transform .1s;
}

.header,
.main  {
  z-index: 2;
  position: relative;
  height: max-content;
  color: $color-dark-color;
}

.header, .main, .title, .description {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity .2s linear,
    transform .2s ease-out;
}

.hiddenInner {
  // filter: blur(16px);

  .header, .main, .title, .description {
    transform: translateX(20px);
    opacity: 0;
  }
}
