@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1, huge: 1)) {
      @include grid-columns-span((large: 8, huge: 8))
    }
  }

  @include screen-medium-down {
    padding: 0 $indent-24;
    padding-bottom: $indent-24;
    display: flex;
    flex-direction: column;
  }
}

.titleWrapper,
.text {
  @include grid-columns-span-all;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  @include typo-make-h3;
  font-weight: 700;

  margin-bottom: $indent-40;
}

.text {
  @include typo-make-text;
}

