@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders.scss' as *;

.container {
  display: flex;
  gap: 4px;
  list-style: none;  
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include typo-make-h5;

  width: 40px;
  height: 40px;
  border-radius: 8px;

  transition: color .2s ease-out,
              background-color .2s ease-out;
  
  .prevBtn,
  .nextBtn {
    width: 16px;
    height: 16px;
    stroke: $color-dark-color;
    stroke-width: 0;
  }

  .prevBtn {
    transform: rotateY(180deg);
  }

  &.dots:hover {
    background-color: transparent;
    cursor: default;
  }

  &:hover {
    background-color: $color-gray-extra-light;
    cursor: pointer;
  }

  &.selected {
    background-color: $color-violet;
    color: $color-white;
  }

  &.hidden {
    display: none;
  }
}
