@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.header,
.main {
  @include grid-container;
  @include grid;
}

.header {
  padding-top: 88px;
  @include screen-medium-up {
    padding-top: calc(96px + $indent-80);
  }

  background-color: $color-gray-extra-light;

  overflow: hidden;
}

.headerContent,
.aboutSection,
.contacts {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1, huge: 1)) {
      @include grid-columns-span((large: 10, huge: 10));
    }
  }
}

.services,
.adsItems {
  @include grid-columns-span-all;
  @include grid;
}


.logoWrapper {
  @include grid-columns-span-all;
  .logo {
    width: 126.833px;
    height: 94.258px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127' height='95' viewBox='0 0 127 95' fill='none'%3E%3Cmask id='path-1-inside-1_7530_108904' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.9619 1.17142C48.3998 -0.39068 45.8672 -0.390679 44.3051 1.17142L30.8701 14.6064L17.435 1.17142C15.8729 -0.39068 13.3403 -0.39068 11.7782 1.17142L1.17157 11.778C-0.39053 13.3401 -0.390525 15.8728 1.17157 17.4349L47.1528 63.4161L33.7465 76.8224C32.1844 78.3845 32.1844 80.9172 33.7465 82.4793L44.3531 93.0859C45.9152 94.648 48.4479 94.648 50.0099 93.0859L63.4163 79.6796L76.8226 93.0859C78.3847 94.648 80.9173 94.648 82.4794 93.0859L93.086 82.4793C94.6481 80.9172 94.6481 78.3845 93.086 76.8224L79.6797 63.4161L125.661 17.4349C127.223 15.8728 127.223 13.3401 125.661 11.778L115.054 1.17142C113.492 -0.39068 110.96 -0.39068 109.397 1.17142L95.9625 14.6064L82.5274 1.17142C80.9653 -0.390679 78.4327 -0.39068 76.8706 1.17142L66.264 11.778C64.7019 13.3401 64.7019 15.8728 66.264 17.4349L79.699 30.8699L63.4163 47.1527L47.1335 30.8699L60.5685 17.4349C62.1306 15.8728 62.1306 13.3401 60.5685 11.778L49.9619 1.17142ZM1.17157 76.822C-0.39053 78.3841 -0.39053 80.9167 1.17157 82.4788L11.7782 93.0854C13.3403 94.6475 15.8729 94.6475 17.435 93.0854L28.0416 82.4788C29.6037 80.9167 29.6037 78.3841 28.0416 76.822L17.435 66.2154C15.8729 64.6533 13.3403 64.6533 11.7782 66.2154L1.17157 76.822ZM98.791 76.822C97.2289 78.3841 97.2289 80.9167 98.791 82.4788L109.398 93.0854C110.96 94.6475 113.492 94.6475 115.054 93.0854L125.661 82.4788C127.223 80.9167 127.223 78.3841 125.661 76.822L115.054 66.2154C113.492 64.6533 110.96 64.6533 109.398 66.2154L98.791 76.822Z'/%3E%3C/mask%3E%3Cpath d='M44.3051 1.17142L45.7193 2.58563L45.7193 2.58563L44.3051 1.17142ZM49.9619 1.17142L48.5477 2.58563L48.5477 2.58563L49.9619 1.17142ZM30.8701 14.6064L29.4558 16.0207L30.8701 17.4349L32.2843 16.0207L30.8701 14.6064ZM17.435 1.17142L16.0208 2.58563L16.0208 2.58563L17.435 1.17142ZM11.7782 1.17142L13.1924 2.58563L13.1924 2.58563L11.7782 1.17142ZM1.17157 11.778L-0.242647 10.3638L-0.242647 10.3638L1.17157 11.778ZM1.17157 17.4349L2.58579 16.0207L2.58579 16.0207L1.17157 17.4349ZM47.1528 63.4161L48.567 64.8303L49.9812 63.4161L48.567 62.0019L47.1528 63.4161ZM33.7465 82.4793L32.3323 83.8935L32.3323 83.8935L33.7465 82.4793ZM44.3531 93.0859L42.9389 94.5001L42.9389 94.5001L44.3531 93.0859ZM63.4163 79.6796L64.8305 78.2654L63.4163 76.8511L62.002 78.2654L63.4163 79.6796ZM82.4794 93.0859L81.0652 91.6717L81.0652 91.6717L82.4794 93.0859ZM93.086 82.4793L94.5002 83.8935L94.5002 83.8935L93.086 82.4793ZM93.086 76.8224L91.6718 78.2366L91.6718 78.2366L93.086 76.8224ZM79.6797 63.4161L78.2655 62.0019L76.8513 63.4161L78.2655 64.8303L79.6797 63.4161ZM125.661 17.4349L127.075 18.8491L127.075 18.8491L125.661 17.4349ZM125.661 11.778L124.247 13.1922L124.247 13.1922L125.661 11.778ZM115.054 1.17142L113.64 2.58563L113.64 2.58563L115.054 1.17142ZM109.397 1.17142L110.812 2.58563L110.812 2.58563L109.397 1.17142ZM95.9625 14.6064L94.5483 16.0207L95.9625 17.4349L97.3767 16.0207L95.9625 14.6064ZM82.5274 1.17142L81.1132 2.58563L81.1132 2.58563L82.5274 1.17142ZM76.8706 1.17142L75.4564 -0.2428L75.4564 -0.242797L76.8706 1.17142ZM66.264 11.778L67.6782 13.1922L67.6782 13.1922L66.264 11.778ZM66.264 17.4349L67.6782 16.0207L67.6782 16.0207L66.264 17.4349ZM79.699 30.8699L81.1132 32.2841L82.5274 30.8699L81.1132 29.4557L79.699 30.8699ZM63.4163 47.1527L62.002 48.5669L63.4163 49.9811L64.8305 48.5669L63.4163 47.1527ZM47.1335 30.8699L45.7193 29.4557L44.3051 30.8699L45.7193 32.2841L47.1335 30.8699ZM60.5685 17.4349L59.1543 16.0207L59.1543 16.0207L60.5685 17.4349ZM60.5685 11.778L61.9827 10.3638L61.9827 10.3638L60.5685 11.778ZM1.17157 82.4788L-0.242649 83.893L-0.242646 83.893L1.17157 82.4788ZM1.17157 76.822L-0.242647 75.4077L-0.24265 75.4077L1.17157 76.822ZM11.7782 93.0854L10.364 94.4996L10.364 94.4996L11.7782 93.0854ZM17.435 93.0854L18.8492 94.4996L18.8492 94.4996L17.435 93.0854ZM28.0416 82.4788L29.4558 83.893L29.4558 83.893L28.0416 82.4788ZM28.0416 76.822L29.4558 75.4077L29.4558 75.4077L28.0416 76.822ZM17.435 66.2154L18.8492 64.8011L18.8492 64.8011L17.435 66.2154ZM11.7782 66.2154L10.364 64.8011L10.364 64.8011L11.7782 66.2154ZM115.054 93.0854L113.64 91.6712L113.64 91.6712L115.054 93.0854ZM125.661 82.4788L127.075 83.893L127.075 83.893L125.661 82.4788ZM125.661 76.822L127.075 75.4078L127.075 75.4077L125.661 76.822ZM115.054 66.2154L113.64 67.6296L113.64 67.6296L115.054 66.2154ZM45.7193 2.58563C46.5003 1.80458 47.7667 1.80458 48.5477 2.58563L51.3761 -0.242796C49.033 -2.58594 45.234 -2.58594 42.8909 -0.242797L45.7193 2.58563ZM32.2843 16.0207L45.7193 2.58563L42.8909 -0.242797L29.4558 13.1922L32.2843 16.0207ZM16.0208 2.58563L29.4558 16.0207L32.2843 13.1922L18.8492 -0.242797L16.0208 2.58563ZM13.1924 2.58563C13.9734 1.80458 15.2398 1.80458 16.0208 2.58563L18.8492 -0.242797C16.5061 -2.58594 12.7071 -2.58594 10.364 -0.242797L13.1924 2.58563ZM2.58578 13.1922L13.1924 2.58563L10.364 -0.242797L-0.242647 10.3638L2.58578 13.1922ZM2.58579 16.0207C1.80473 15.2396 1.80473 13.9733 2.58578 13.1922L-0.242647 10.3638C-2.5858 12.707 -2.58578 16.5059 -0.242642 18.8491L2.58579 16.0207ZM48.567 62.0019L2.58579 16.0207L-0.242642 18.8491L45.7386 64.8303L48.567 62.0019ZM35.1607 78.2366L48.567 64.8303L45.7386 62.0019L32.3323 75.4082L35.1607 78.2366ZM35.1607 81.0651C34.3797 80.284 34.3797 79.0177 35.1607 78.2366L32.3323 75.4082C29.9891 77.7513 29.9891 81.5503 32.3323 83.8935L35.1607 81.0651ZM45.7673 91.6717L35.1607 81.0651L32.3323 83.8935L42.9389 94.5001L45.7673 91.6717ZM48.5957 91.6717C47.8147 92.4527 46.5484 92.4527 45.7673 91.6717L42.9389 94.5001C45.282 96.8432 49.081 96.8432 51.4242 94.5001L48.5957 91.6717ZM62.002 78.2654L48.5957 91.6717L51.4242 94.5001L64.8305 81.0938L62.002 78.2654ZM78.2368 91.6717L64.8305 78.2654L62.002 81.0938L75.4084 94.5001L78.2368 91.6717ZM81.0652 91.6717C80.2842 92.4527 79.0178 92.4527 78.2368 91.6717L75.4084 94.5001C77.7515 96.8432 81.5505 96.8432 83.8936 94.5001L81.0652 91.6717ZM91.6718 81.0651L81.0652 91.6717L83.8936 94.5001L94.5002 83.8935L91.6718 81.0651ZM91.6718 78.2366C92.4529 79.0177 92.4529 80.284 91.6718 81.0651L94.5002 83.8935C96.8434 81.5503 96.8434 77.7513 94.5002 75.4082L91.6718 78.2366ZM78.2655 64.8303L91.6718 78.2366L94.5002 75.4082L81.0939 62.0019L78.2655 64.8303ZM124.247 16.0207L78.2655 62.0019L81.0939 64.8303L127.075 18.8491L124.247 16.0207ZM124.247 13.1922C125.028 13.9733 125.028 15.2396 124.247 16.0207L127.075 18.8491C129.418 16.5059 129.418 12.707 127.075 10.3638L124.247 13.1922ZM113.64 2.58563L124.247 13.1922L127.075 10.3638L116.469 -0.242797L113.64 2.58563ZM110.812 2.58563C111.593 1.80458 112.859 1.80458 113.64 2.58563L116.469 -0.242796C114.125 -2.58594 110.326 -2.58594 107.983 -0.242796L110.812 2.58563ZM97.3767 16.0207L110.812 2.58563L107.983 -0.242797L94.5483 13.1922L97.3767 16.0207ZM81.1132 2.58563L94.5483 16.0207L97.3767 13.1922L83.9417 -0.242797L81.1132 2.58563ZM78.2848 2.58563C79.0658 1.80458 80.3322 1.80458 81.1132 2.58563L83.9417 -0.242797C81.5985 -2.58594 77.7995 -2.58594 75.4564 -0.2428L78.2848 2.58563ZM67.6782 13.1922L78.2848 2.58563L75.4564 -0.242797L64.8498 10.3638L67.6782 13.1922ZM67.6782 16.0207C66.8972 15.2396 66.8972 13.9733 67.6782 13.1922L64.8498 10.3638C62.5066 12.7069 62.5066 16.5059 64.8498 18.8491L67.6782 16.0207ZM81.1132 29.4557L67.6782 16.0207L64.8498 18.8491L78.2848 32.2841L81.1132 29.4557ZM64.8305 48.5669L81.1132 32.2841L78.2848 29.4557L62.002 45.7384L64.8305 48.5669ZM45.7193 32.2841L62.002 48.5669L64.8305 45.7384L48.5477 29.4557L45.7193 32.2841ZM59.1543 16.0207L45.7193 29.4557L48.5477 32.2841L61.9827 18.8491L59.1543 16.0207ZM59.1543 13.1922C59.9354 13.9733 59.9354 15.2396 59.1543 16.0207L61.9827 18.8491C64.3259 16.5059 64.3259 12.7069 61.9827 10.3638L59.1543 13.1922ZM48.5477 2.58563L59.1543 13.1922L61.9827 10.3638L51.3761 -0.242797L48.5477 2.58563ZM2.58578 81.0646C1.80473 80.2836 1.80473 79.0172 2.58578 78.2362L-0.24265 75.4077C-2.58579 77.7509 -2.58579 81.5499 -0.242649 83.893L2.58578 81.0646ZM13.1924 91.6712L2.58578 81.0646L-0.242646 83.893L10.364 94.4996L13.1924 91.6712ZM16.0208 91.6712C15.2398 92.4523 13.9734 92.4523 13.1924 91.6712L10.364 94.4996C12.7071 96.8428 16.5061 96.8428 18.8492 94.4996L16.0208 91.6712ZM26.6274 81.0646L16.0208 91.6712L18.8492 94.4996L29.4558 83.893L26.6274 81.0646ZM26.6274 78.2362C27.4085 79.0172 27.4085 80.2836 26.6274 81.0646L29.4558 83.893C31.799 81.5499 31.799 77.7509 29.4558 75.4077L26.6274 78.2362ZM16.0208 67.6296L26.6274 78.2362L29.4558 75.4077L18.8492 64.8011L16.0208 67.6296ZM13.1924 67.6296C13.9734 66.8485 15.2398 66.8485 16.0208 67.6296L18.8492 64.8011C16.5061 62.458 12.7071 62.458 10.364 64.8011L13.1924 67.6296ZM2.58578 78.2362L13.1924 67.6296L10.364 64.8011L-0.242647 75.4077L2.58578 78.2362ZM100.205 81.0646C99.4241 80.2836 99.4241 79.0172 100.205 78.2362L97.3767 75.4077C95.0336 77.7509 95.0336 81.5499 97.3767 83.893L100.205 81.0646ZM110.812 91.6712L100.205 81.0646L97.3767 83.893L107.983 94.4996L110.812 91.6712ZM113.64 91.6712C112.859 92.4523 111.593 92.4523 110.812 91.6712L107.983 94.4996C110.326 96.8428 114.125 96.8428 116.469 94.4996L113.64 91.6712ZM124.247 81.0646L113.64 91.6712L116.469 94.4996L127.075 83.893L124.247 81.0646ZM124.247 78.2362C125.028 79.0172 125.028 80.2836 124.247 81.0646L127.075 83.893C129.418 81.5499 129.418 77.7509 127.075 75.4078L124.247 78.2362ZM113.64 67.6296L124.247 78.2362L127.075 75.4077L116.469 64.8011L113.64 67.6296ZM110.812 67.6296C111.593 66.8485 112.859 66.8485 113.64 67.6296L116.469 64.8011C114.125 62.458 110.326 62.458 107.983 64.8011L110.812 67.6296ZM100.205 78.2362L110.812 67.6296L107.983 64.8011L97.3767 75.4077L100.205 78.2362Z' fill='url(%23paint0_linear_7530_108904)' mask='url(%23path-1-inside-1_7530_108904)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7530_108904' x1='126.833' y1='0' x2='0' y2='-1.67003e-08' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2387D9E6'/%3E%3Cstop offset='0.331705' stop-color='%238994F8'/%3E%3Cstop offset='0.679972' stop-color='%23B392F4'/%3E%3Cstop offset='1' stop-color='%23EBC2C6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");  
  }

  margin-bottom: calc($indent-96 + $indent-24 + $indent-8);
}

.titleWrapper {
  @include grid-columns-span-all;

  .label {
    margin-top: $indent-32;
    @include typo-make-h4;
  }

  margin-bottom: $indent-64;
}

.main {
  margin-top: $indent-64;

  @include grid-container;
  @include grid;

  margin-bottom: calc($indent-80 + $indent-80 + $indent-24);
}

.aboutSection {
  .firstColumn,
  .secondColumn {
    @include grid-with-inner-context {
      @include grid-columns-span((large: 5, huge: 5));
    }

    height: fit-content;
  }

  .aboutSectionTitle,
  .aboutSectionText,
  .documents {
    @include grid-columns-span-all;
  }

  .learnMoreBtnWrapper {
    @include grid-with-inner-context {
      @include grid-columns-span((huge: 5));
    }
    direction: rtl;  

    @include screen-small-down {
      display: flex;
      justify-content: center;
    }
  }

  .documents {
    display: flex;
    flex-wrap: wrap;
    gap: $indent-16;

    a {
      margin: 0;
    }
  }

  .aboutSectionTitle {
    @include typo-make-h2;
    font-weight: 500;
    margin-bottom: $indent-48;

    @include screen-medium-down {
      margin-bottom: $indent-24;
    }
  }

  .aboutSectionText {
    @include typo-make-text;
    margin-bottom: $indent-32;

    @include screen-medium-down {
      margin: $indent-24 0;
    }
  }

  .yamalCoinIcon {
    width: 16px;
    height: 16px;
  }
}

.services {
  margin-top: $indent-80;

  .servicesTitle {
    white-space: nowrap;
    margin-bottom: $indent-32;
    @include grid-with-inner-context {
      @include grid-with-offset((huge: 1)) {
        @include grid-columns-span((huge: 10));
      }
    }
  }
}

.adsItems {
  margin-top: $indent-80;

  .adsItemsTitle {
    white-space: nowrap;
    margin-bottom: $indent-32;
    @include grid-with-inner-context {
      @include grid-with-offset((huge: 1)) {
        @include grid-columns-span((huge: 10));
      }
    }
  }
}

.blockWithTabs {
  @include grid-columns-span-all;
}

.contacts {
  margin-top: $indent-80;

  .contactsTitle,
  .map {
    @include grid-columns-span-all;
  }
  
  .contactsTitle {
    margin-bottom: $indent-32;

    @include screen-small-down {
      margin-bottom: $indent-16;
    }
  }

  .contactsInfo {
    @include grid-with-inner-context {
      @include grid-columns-span((huge: 10));
    }

    @include screen-medium-down {
      display: flex;
      flex-direction: column;
      gap: $indent-12;
    }
  }

  .contactsFirstColumn,
  .contactsSecondColumn {
    @include grid-columns-span((huge: 3));
  }

  .contactsThirdColumn {
    @include grid-with-inner-context {
      @include grid-columns-span((huge: 4));
    }
    direction: rtl;
  }

  .phone {
    @include typo-make-h2;
    font-weight: 500;

    @include screen-large-up {
      margin-bottom: $indent-16;
    }
  }

  .phone,
  .workingDays {
    @include grid-columns-span-all;
  }

  .map {
    margin-top: $indent-32;
    width: 100%;
    height: 480px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
  }
}

.btn {
  height: fit-content;
  @include grid-columns-span((huge: 2));
  border: 1px solid $color-gray-light;

  @include screen-large-up {
    min-width: 280px;
  }
  
  span {
    display: flex;
    flex-direction: row-reverse;
    gap: $indent-8;
    align-items: center;
    justify-content: center;
  }
}