@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

@use 'sass:math';

.wrapper {
  position: relative;
  background-color: $color-gray-light;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.header {
  padding-top: calc($indent-96 + $indent-32);
  background-color: $color-gray-light;

  > .row {
    margin-top: $indent-32;
  }

  > .row:not(:first-child) {
    margin-top: $indent-64;
  }
}

.row {
  @include grid;
  @include grid-container;
}

.titleRow {
  @include grid-with-offset((large: 1)) {
    @include grid-columns-span((large: 11))
  }

  display: inline-flex;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;

  @include screen-small-down {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  white-space: nowrap;
  margin-right: $indent-16;

  @include screen-small-down {
    margin-bottom: $indent-12;
  }
}

.tabsWrapper {
  @include helper-hidden-system-scrollbar;

  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .row {
    background-color: $color-gray-light;
    min-width: fit-content;
  }

  @include screen-medium-down {
    .row {
      display: flex;
      margin-right: calc($grid-padding-size * -1);
      padding-right: 0;
    }
  }
}

.tabsRow {
  @include grid-with-offset((large: 1)) {
    @include grid-columns-span((large: 11))
  }
  padding-right: $grid-padding-size;
  display: inline-flex;
  align-items: center;
  gap: 0;
  padding-top: $indent-32;
  overflow: hidden;
}

.tab {
  @include typo-medium-text;
  font-weight: 600;
  line-height: 16px;
  position: relative;
  padding-bottom: $indent-24;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 1;

  @include screen-small-down {
    @include typo-make-tiny;
    font-weight: 600;
  }

  &:not(:last-child) {
    margin-right: $indent-24;
  }

  &:before {
    content: '';
    position: absolute;
    top: calc(100% - 12px);
    left: 50%;
    width: 80px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='12' viewBox='0 0 80 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80 12C73.9851 12 68.7788 8.22194 63.9904 4.7479L63.1369 4.12906C59.5534 1.54181 55.045 4.49408e-06 50.146 4.0658e-06L29.857 2.29208e-06C24.958 1.86379e-06 20.4495 1.5418 16.867 4.12906L16.0145 4.74677C11.2251 8.22115 6.01584 12 0 12L80 12Z' fill='white'/%3E%3C/svg%3E%0A");
    transform: translate(-50%, 100%);
    z-index: 2;
    opacity: 0;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear;
  }

  &.active {
    color: $color-blue-dark;

    &:before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  > span {
    display: inline-flex;
    align-items: center;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.aboutTab {
  &::before {
    content: 'о событии';

    @include screen-small-down {
      content: 'событие';
    }
  }
}

.calendar {
  @include grid-columns-span((large: 12, huge: 11));
  margin-bottom: $indent-32;

  @include screen-medium-up {
    margin-top: $indent-32;
  }
}

.offersSlider {
  @include grid;
  @include grid-container;
  margin-top: $indent-64;
}

.specialOffersTitle {
  margin-top: $indent-80;
}

.selectButtonWrapper {
  @include typo-make-text;
}

.dropdownWrapper {
  position: relative;
  height: 100%;
  z-index: 10;
}

.dropdown {
  position: absolute;
  top: var(--top-dropdown);
  left: var(--left-dropdown);
  z-index: 10;

  :global(.select__menu),
  :global(.select__scrollbar) {
    border-radius: 16px;
    width: auto;
  }
}

.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.emptyTitleWrapper {
  width: 100%;
  @include grid;

  margin-bottom: $indent-80;
  padding: 0 $grid-padding-size;
}

.emptyTitle {
  @include grid-with-offset((medium: 2, huge: 1)) {
    @include grid-columns-span((medium: 10, huge: 11));
  }
  @include typo-make-h5;
  color: $color-gray-deep;
}


.showMoreWrapper {
  @include grid-columns-span-all;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $indent-64;
  margin-left: $grid-padding-size;
  margin-right: $grid-padding-size;
  margin-bottom: $indent-80;

  .more {
    @include screen-medium-down {
      width: 100%;
    }
  }
}

.spinnerLoader {
  margin: $indent-64 0;
}

.eventsWrapper {
  @include screen-medium-up {
    margin: 0 calc($indent-12 * -1);
  }
}