@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.AboutOrder {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1)) {
      @include grid-columns-span((small: 6, medium: 10, large: 10));
    }
  }
  padding: 0 $indent-24;
  @include screen-medium-up {
    padding: 0 $indent-48;
  }
}

.title {
  @include grid-columns-span-all;
  font-weight: 700;
  @include typo-make-h3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $indent-32;
}

.close {
  width: 16px;
  height: 16px;
  fill: $color-blue-gray;
}

.text {
  @include grid-columns-span((large: 5));
  margin-bottom: $indent-48;
}

.info {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 6, medium: 10));
  }
  display: flex;
  @include screen-small-down {
    flex-direction: column;
  }
}

.left {
  @include grid-columns-span((medium: 5, large: 4));
  @include screen-small-down {
    grid-row: 2;
  }

  @include screen-large-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - $indent-24);
    margin-bottom: 0;
  }

  p {
    margin-bottom: $indent-24;
    @include screen-small-down {
      margin-bottom: $indent-16;
    }
  }
}

.right {
  @include grid-columns-span((medium: 5, large: 4));
  display: flex;
  flex-direction: column;

  @include screen-large-up {
    height: calc(100% - $indent-24);
    gap: $indent-8;
  }

  @include screen-small-down {
    grid-row: 3;
  }

  .phone {
    color: $color-dark-color;
    @include typo-make-h3;
    font-weight: 500;
    display: inline-flex;

    & + .phone {
      margin-top: $indent-8;
    }

    &:last-child {
      margin-bottom: $indent-16;
    }

    &:hover,
    &:active {
      color: $color-dark-color;
    }

  }
}

.qr {
  @include grid-columns-span((small: 6, large: 4));
  @include screen-large-up {
    justify-self: flex-end;
  }
  @include screen-small-down {
    display: flex;
    gap: 0;
    grid-row: 1;
    margin-bottom: $indent-24;
    background: $color-gray-extra-light;
    padding: $indent-12 $indent-12 $indent-12 $indent-24;
    border-radius: 16px;
  }

  img {
    width: 124px;
    height: 128px;
    @include screen-small-down {
      margin-right: $indent-24;
    }
  }
}

.qrText {
  align-self: center;
  @include screen-medium-up {
    display: none;
  }
}

.warning {
  display: flex;
  gap: 0;

  p {
    font-weight: 500;
  }
  @include screen-small-down {
    margin-top: $indent-16;
  }
}

.warningIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: $indent-12;
}

.map {
  @include grid-columns-span-all;
  aspect-ratio: 1368/320;
  position: relative;
  margin-top: $indent-48;
  border-radius: 16px;
  overflow: hidden;

  @include screen-small-down {
    aspect-ratio: 331/320;
    margin: 16px 0 0;
  }
}

.qrButtonWrapper {
  grid-column-start: -1;

  @include screen-small-down {
    margin-top: $indent-24;
    margin-bottom: $indent-24;
    @include grid-columns-span-all;
    background-color: $color-gray-extra-light;
    border-radius: 16px;
    padding: $indent-12;

    display: flex;
    align-items: center;
    gap: $indent-24;
  }

  .qrText {
    display: none;
    @include typo-make-small;

    @include screen-small-down {
      display: inline;
    }
  }

  .qrButton {
    flex-shrink: 0;
  }
}

.description {
  @include grid-with-inner-context {
    @include grid-columns-span((large: 7));
  }

  .text {
    @include typo-make-text;
  }
}