@use '../../styles/variables' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders' as *;

.container {
  grid-column: 1/-1;
  display: flex;
  grid-column-gap: 0;
  min-height: 180px;
  width: 100%;
  background-color: transparent;
  transition:  box-shadow .4s;

  @include screen-small-down {
    min-height: 140px;
  }

  &:hover {
    .card__time_time {
      @extend %background-gradient-purpur;
      background-clip: text;
    }

    .timecard {
      background: linear-gradient(270deg, #87D9E6 0%, #8994F8 33.17%, #B392F4 68%, #EBC2C6 100%);
      background-clip: text;
      color: transparent;
    }

    .title,
    .description,
    .card__time_time {
      transform: translateY(-2px);
    }

    .color::before {
      transform: scaleX(1.3);
    }

    .image,
    .content {
      @extend %card-shadow;
    }
  }

  &:active {
    .image {
      box-shadow: inset 0px 0px 100px rgba(255, 255, 255, .5);
    }

    .title,
    .description {
      transform: translateY(0);
    }

    .color::before {
      background: $color-violet-light;
    }
  }
}

.time,
.image {
  border-radius: 16px;
  overflow: hidden;
}

.image {
  position: relative;
  flex: 1.3;
  max-width: 220px;
  min-width: 220px;
  object-fit: cover;
  transition: box-shadow .4s;

  @include screen-medium-down {
    min-width: 128px;
    max-width: 128px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(63, 87, 186, 0.3), rgba(63, 87, 186, 0.3));
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3.8;
  padding: $indent-32 $indent-64;
  color: $color-black;
  background-color: $color-white;
  overflow: hidden;

  @include screen-small-down {
    padding: 16px 24px;
  }

  &.color {
    color: $color-white;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #87D9E6 -6%, #8994F8 31%, #B392F4 70%, #EBC2C6 106%);
      border-radius: 16px;
      transition:
        background-size .4s ease-out,
        transform 1s ease-out;
    }

    .description {
      color: $color-white;
    }
  }

  &.gray {
    background-color: $color-gray-extra-light;
  }
}

.card__time_time,
.title,
.description {
  transition: transform .4s;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content,
.image {
  transition: box-shadow .4s
}
.content,
.image,
.time {
  //height: 100%;
  border-radius: 16px;
}

.title {
  @include typo-make-h4;
  font-weight: 600;

  & + .description {
    margin-top: $indent-16;

    @include screen-small-down {
      margin-top: 8px;
    }
  }
}

.description {
  @include typo-medium-text;
  color: $color-gray-deep;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include screen-small-down {
    @include typo-make-small;
    line-height: 16px;
  }
}

.title,
.description {
  z-index: 2;
  position: relative;
}

.timecard {
  min-width: 95px;
  
  .timecardDate {
    @include screen-medium-down {
      flex-direction: column;
      div:first-child {
        @include typo-make-big-text;
        font-weight: 600;
      }
    }
  }
}

.hidden {
   display: none;
}