@use '../../../styles/variables.scss' as *;
@use '../../../styles/variables/indent-system.scss' as *;
@use '../../../styles/variables/grid.scss' as *;
@use '../../../styles/mixins.scss' as *;
@use '../../../styles/placeholders.scss' as *;

.wrapper {
  @include grid-with-offset((small: 0, medium: 0, large: 1, huge: 1)) {
    @include grid-columns-span((small: 6, medium: 12, large: 10, huge: 6));
  }
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header {
  @include typo-make-h2;
  font-weight: 700;
  color: $color-black;
  margin-bottom: $indent-24;

  @include screen-small-down {
    margin-bottom: 16px;
  }
}

.bonuses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $indent-40;

  strong {
    @include typo-make-big-text;
    color: $color-black;
  }

  span {
    @include typo-make-text;
    display: flex;
    align-items: center;
    gap: $indent-8;
    font-weight: 500;
    color: $color-black;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: $color-black;
  }

  @include screen-small-down {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 8px;
  }
}

.inputField {
  margin-bottom: $indent-32;
  display: flex;
  align-items: center;
  gap: $indent-24;
}

.input {
  position: relative;
  flex: 1 0 auto;

  textarea {
    height: 58px;
    min-height: 58px;
    max-height: unset;
    resize: none;

    padding-right: calc(40px + 16px + 8px);

    @include helper-hidden-system-scrollbar;

    @include screen-small-down {
      height: 48px;
      min-height: 48px;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 0;
  @include helper-hidden-system-scrollbar;


  @include screen-small-down {
    flex-direction: row;
    overflow-y: auto;
    margin-right: -24px;
    padding-right: 24px;
  }
}

.comment {
  padding: $indent-24;
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 1px solid $color-gray-light;
  border-radius: 16px;

  @include screen-small-down {
    min-width: 80%;
    width: 80%;
    height: min-content;
  }
}

.commentHead {
  @include typo-make-text;
  display: flex;
  align-items: center;
  gap: $indent-24;
  margin-bottom: $indent-16;
  font-weight: 500;
  color: $color-black;
}

.text,
.textHide {
  @include typo-make-text;
  margin-left: $indent-64;
  color: $color-black;
}

.textHide {
  max-height: 100px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(360deg, $color-white 8.46%, rgba(255, 255, 255, 0) 109.71%);
    border-radius: inherit;
  }
}

.readMore {
  @include indent-outer-top(12);
  @extend %link-base;
  @include typo-make-small;
  margin-left: $indent-64;
  color: $color-gray-deep;
  text-transform: uppercase;
}

.answer {
  @include indent-outer-top(12);
  @extend %link-base;
  @include typo-medium-text;
  margin-left: auto;
  color: $color-bluemarin;
}

.allComments {
  margin-top: $indent-32;
  margin-left: auto;

  @include screen-small-down {
    width: 100%;
  }
}

.signInLink {
  @include link-multiline-base($color-white);
}

.modalWrapper {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1)) {
      @include grid-columns-span((large: 8));
    }
  }

  @include screen-large-down {
    padding: 0 $indent-36;
  }

  @include screen-medium-down {
    padding-bottom: calc($indent-24 + $indent-8);
  }
}

.modalText,
.modalTitle {
  margin-bottom: $indent-40;
}

.modalTitle {
  @include grid-columns-span-all;
}

.modalText {
  @include grid-columns-span((large: 5));
}

.modalButton {
  grid-row: 3;
  @include grid-columns-span((large: 2))
}

.submitBtn {
  position: absolute;
  bottom: calc(8px + 6px);
  right: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  @include screen-small-down {
    width: 32px;
    height: 32px;
  }

  border-radius: 12px;

  transition: background-color .2s ease-out;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    @extend %background-gradient-violet;

    transition: opacity .2s ease-out;
  }


  &:hover {
    background-color: $color-violet;

    &::after {
      opacity: 0;
    }
  }
}

.planeIcon {
  width: 18px;
  height: 18px;

  @include screen-small-down {
    width: 14px;
    height: 14px;
  }

  z-index: 1;
}