@use '../../styles/mixins.scss' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;

.header {
  background-color: #D2EAFF;
  background-image: url('../../images/elka_header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right $indent-96;
  background-size: contain;

  @include screen-small-down {
    background-position: bottom right;
  }
}

.visibleWrapper {
  @include grid-with-inner-context {
    @include grid-columns-span((huge: 11));
  }
}

.headerLogoWrapper {
  @include grid-columns-span-all;
  margin-bottom: calc($indent-96 + $indent-16);
}

.headerContent {
  @include grid-columns-span-all;
}

.headerText {
  @include typo-make-h4;
}

.mainTitle {
  margin-bottom: $indent-32;
}

.main {
  @include grid;
  @include grid-container;
}

.mainContent {
  @include grid-with-inner-context {
    @include grid-with-offset((large: 1)) {
      @include grid-columns-span((small: 6, medium: 12, large: 11));
    }
  }
}

.stepsWrapper {
  @include grid-columns-span-all;
  @include screen-medium-up {
    margin: 0 calc($grid-padding-size * -1);
  }
}

.steps {
  
  @include screen-medium-up {
    padding: 0 $grid-padding-size;
    @include helper-hidden-system-scrollbar;
  }

  margin: $indent-64 0;
  display: flex;
  gap: $indent-16;

  @include screen-small-down {
    flex-direction: column;
    gap: $indent-8;
  }
}

.step {
  display: flex;
  gap: $indent-16;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  padding: $indent-16 $indent-24;
  border: 1px solid $color-gray;
  border-radius: 16px;
  @include typo-make-text;

  @include screen-medium-down {
    justify-content: flex-start;
  }

  @include screen-small-down {
    padding: $indent-12 $indent-16;
  }

  &:last-child:not(.active) {
    .stepIcon {
      display: none;
    }
  }

  &:not(.active),
  &:not(.done) {
    .stepIcon {
      stroke: $color-gray;
    }
  }

  &.active {
    border: none;
    color: $color-violet;
  
    &::after,
    &::before {
      @extend %border-gradient;
      border-width: 1px;  
    }
  
    .stepDate {
      color: $color-violet;
    }
  }

  &.done {
    color: $color-gray-middle;

    .stepDate {
      color: $color-gray-middle;
    }

    .stepIcon {
      display: none;
    }
  }
}

.stepDate {
  @include typo-make-small;
  color: $color-gray;
  text-transform: uppercase;
}

.stepIcon {
  width: 26px;
  height: 10px;
  fill: none;
}

.stepActiveIcon {
  width: 16px;
  height: 16px;
}

.aside {
  margin-top: $indent-80;
  overflow-x: hidden;

  @include screen-large-up {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.faq {
  // @include grid-container;
  margin-bottom: $indent-80;
  @include screen-medium-down {
  }
}

.faqTitle {
  @include typo-make-h1;
  font-weight: 700;
  margin-bottom: $indent-48;
  @include screen-small-down {
    margin-left: $grid-padding-size;
  }
}

.more {
  order: 1;
  margin-top: $indent-32;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.spinner {
  @include grid-columns-span((small: 6, medium: 12, large: 10));
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperDisclamer {
  @include grid-columns-span((large: 6, huge: 4));
  @include typo-make-h5;
  display: flex;
  gap: $indent-24;
}
