@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders/helpers' as *;

.wrapper {
  gap: 0;

  &:not(.notScrollable) {
    @extend %helper-hidden-system-scrollbar;
  }
}

.viewport {
  grid-column: 1 / -2;
  display: flex;
  gap: 0;
  overflow: hidden;
  border-radius: 8px;

  .item {
    max-width: 280px;
    min-width: 144px;
    min-height: 97px;
    &:not(:first-child) {
      margin-left: $indent-32;
      @include screen-small-down {
        margin-left: $indent-16;
      }
    }

    @include screen-small-down {
      &:nth-child(n + 3) {
        display: none;
      }
    }

    @include screen-medium-down {
      &:nth-last-child(-n + 1) {
        // display: none;
      }
    }
  }
}

.item {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-height: 98px;


  @include screen-medium-up {
    flex-shrink: 1;
    max-height: 120px;
  }

  @include screen-large-up {
    max-height: 192px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.viewMore {
  display: block;
  position: relative;
  width: 100%;
  @include grid-columns-span((small: 1));

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(63, 87, 186, 0.6), rgba(63, 87, 186, 0.6));
  }
}

.viewMoreCount {
  position: absolute;
  color: $color-white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.downloadLink {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color-white;
  background: $color-bluemarin;
  gap: 0;
  flex-shrink: 0;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: $color-bluemarin-light;
  }

  &:not(:first-child) {
    margin-left: $indent-8;
  }
}

.icon {
  fill: $color-white;
  width: 24px;
  height: 24px;
}
