@use '../../../styles/variables' as *;
@use '../../../styles/variables/indent-system' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  display: inline-block;
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 16px;
  padding: 12px;

  @include screen-medium-up {
    width: 124px;
    height: 124px;
  }

  &:hover {
    .title {

      &::before {
        opacity: 1;
      }
    }

    .icon {
      transform: scale(1.03);
    }
  }

  &:active {
    .title {
      &::after {
        opacity: 1;
      }

      &:before {
        opacity: 0;
      }
    }

    .icon {
      transform: scale(1);
    }
  }
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: $color-blue-gray;
  padding: $indent-8 $indent-16;
  border-radius: 8px;
  overflow: hidden;
  transition: width .2s ease-out;
  line-height: 16px;

  @include screen-medium-up {
    margin-bottom: $indent-8;
  }

  .text {
    z-index: 2;
    position: relative;
    color: $color-white;
    @include typo-make-tiny;
    line-height: 16px;
    @include screen-medium-up {
      @include typo-make-text;
    }
  }

  &::after,
  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-out;
  }

  &::after {
    background-color: $color-violet;
  }

  &::before {
    background: linear-gradient(270deg, #87D9E6 0%, #8994F8 33%, #B392F4 68%, #EBC2C6 100%);
  }
}

.text {
  color: $color-blue-gray;
  @include typo-make-tiny;
  line-height: 12px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .1s ease-out;
}
