@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders.scss' as *;

.page {
  @include grid;
  @include grid-container;
  padding-bottom: calc($indent-80 + $indent-40);

  .avatarWrapper {
    width: 124px;
    height: 124px;
    
    @include screen-small-down {
      width: 94px;
      height: 94px;
    }

    margin-bottom: $indent-40;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
  }
  
}

.title {
  @include grid-columns-span-all;

  margin-top: calc($indent-24);

  @include screen-small-down {
    margin-top: calc($indent-20 + $indent-20);
  }
}

.tabs {
  position: relative;
  @include grid-with-offset((medium: 1)) {
    @include grid-columns-span((medium: 11));
  }
  display: flex;
  margin-bottom: $indent-48;
  margin-top: -12px;
  padding-top: 12px;
  overflow: auto;

  @include screen-small-down {
    margin-left: calc(-1 * $grid-padding-size);
    margin-right: calc(-1 * $grid-padding-size);
    @include grid-container;
  }

  @include helper-hidden-system-scrollbar;
}

.content {
  @include grid-with-inner-context {
    @include grid-with-offset((medium: 1)) {
      @include grid-columns-span(( medium: 8, large: 6));
    }
  }
}

.inputGroup {
  @include grid-columns-span-all;

  :global(.select__control) {
    @include screen-small-down {
      max-height: 48px;
    }
  }

  :global(.select__control input) {
    padding: unset;
  }

  :global(.select__single-value) {
    width: 100%;
    text-align: left;
  }

  :global(.select__menu) {
    z-index: 4;
    position: relative;
  }

  + .inputGroup {
    margin-top: $indent-64;
  }
}

.inputGroupTitle {
  @include typo-make-big-text;
  margin-bottom: $indent-32;
}

.submitButton {
  @include grid-columns-span-all;
  text-align: right;
  margin-top: $indent-96;
}

.disabledInputField {
  display: flex;
  align-items: center;
}

.link {
  width: 24px;
  height: 24px;

  position: absolute;
  right: $indent-16;

  @include screen-small-down {
    width: 20px;
    height: 20px;
  }

  .editIcon {
    width: 100%;
    height: 100%;
    fill: $color-bluemarin;
  }

  &:hover {
    .editIcon {
      fill: $color-bluemarin-light;
    }
  }

  &:active {
    .editIcon {
      fill: $color-bluemarin-extra-light;
    }
  }
}

.form {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 6, medium: 10, large: 6))
  }

  .confirmButton {
    @include screen-small-down {
      width: 100%;
      &:hover {
        padding: 20px 70px;
      }
    }
  }
}
