@use '../../styles/variables.scss' as *;
@use '../../styles/variables/indent-system.scss' as *;
@use '../../styles/variables/grid.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders.scss' as *;

//$swipe-lenght-small: calc(((var(--basket-item-width) - ($grid-gutter-size * 5)) / 6 * 2 + $grid-gutter-size * 2) * -1 - 20px);
//$swipe-lenght-medium: calc(((var(--basket-item-width) - ($grid-gutter-size * 8)) / 9 * 2 + $grid-gutter-size * 2) * -1 - 20px);

.card {
  --mobile-height: 132px;
  position: relative;
  transition: transform 0.2s linear;
  height: 112px;

  @include screen-small-down {
    height: var(--mobile-height);
  }

  &:not(:last-child) {
    margin-bottom: $indent-16;
  }
}

.item {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 6, medium: 7, huge: 8));
  }
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 16px;
  background-color: $color-white;
  transition: transform 0.2s linear;

  @include screen-small-down {
    min-height: 126px;
  }
}

.checked {
  .details {
    &:after {
      opacity: 1;
    }

    &:before {
      opacity: 0;
    }
  }


  .imgWrapper::after {
    border-radius: 16px;
  }

  &.withoutImg {
    &::after {
      opacity: 1;
    }
  }

  @include screen-small-down {
    .details {
      background-color: $color-steel-blue;

      &::after {
        opacity: 0;
      }
    }

    .imgWrapper {
      &::after {
        opacity: 1;
      }
    }

    .deleteMobile {
      background-color: $color-steel-blue-darker;
    }
  }
}

.withoutImg {

  .details {
    padding-left: $grid-padding-size;
  }

  .details {
    @include grid-columns-span((large: 9));
    border: none;

    &::before,
    &::after {
      left: 0;
    }

    @include screen-small-down {
      @include grid-columns-span-all;
    }
  }
}

.swipe {
  .item {
    @include screen-small-down {
      background-color: $color-white;
      transform: translateX(-135px);
      z-index: 1;
    }
  }
  
  .deleteMobile {
    z-index: 1;
  }
}

.checkboxWrapper {
  position: absolute;
  right: calc($grid-gutter-size + 100%);
  top: 50%;
  transform: translateY(-50%);

  @include screen-medium-down {
    display: none;
  }
}

.imgWrapper {
  @include grid-columns-span((small: 2,medium: 2, huge: 1));
  height: 112px;

  @include screen-small-down {
    height: var(--mobile-height);
  }

  position: relative;
  align-self: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(81, 102, 245, 0.3), rgba(81, 102, 245, 0.3));
    opacity: 0;
    border-radius: 16px;
    transition: opacity .1s linear;
  }

  @include screen-medium-down {
    margin-right: calc($grid-gutter-size * -1);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 16px;
  }

  .category {
    display: none;

    @include screen-large-down {
      display: block;
      position: absolute;
      left: 8px;
      top: 8px;
      padding: 5px 12px;
    }
  }
}

.details {
  @include grid-columns-span((small: 4, medium: 5, huge: 7));
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  position: relative;
  border-radius: 16px;
  transition: transform .3s linear, background-color .3s linear;
  z-index: 1;

  @include screen-large-down {
    margin-left: 0;
  }

  @include screen-small-down {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    grid-column: span 4;
    margin-left: 0;
    padding: 0 38px 12px 20px;
    height: var(--mobile-height);
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    border: 1px solid $color-gray-light;
    border-radius: inherit;
    opacity: 1;
  }

  &::after {
    @extend %border-gradient;
    opacity: 0;
  }

  &:before,
  &:after {
    left: 0;
    transition: all .3s linear;

    @include screen-large-up {
      left: calc(-1 * $grid-gutter-size);
    }
  }
}

.text {
  display: flex;
  align-items: center;
  gap: 0;
  flex-grow: 1;

  .category {
    @include screen-large-down {
      display: none;
    }
  }

  @include screen-small-down {
    display: block;
    margin-top: $indent-12;
  }
}

.category {
  @include typo-make-tiny;
  margin-right: $indent-32;
  padding: 5px 12px;
  color: $color-white;
  background-color: $color-violet;
  text-transform: uppercase;
  border-radius: 8px;
  z-index: 1;
}

.name {
  @include typo-make-text;
  margin-right: $indent-32;
  font-weight: 500;
  color: $color-black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  @include screen-medium-only {
    padding-left: $grid-padding-size;
  }

  @include screen-small-down {
    -webkit-line-clamp: 3;
  }

  @include screen-small-down {
    @include typo-medium-text;
    font-weight: 500;
    margin-right: 0;
  }
}

.controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0;
  padding-right: $grid-padding-size;
  position: relative;
  z-index: 1;
}

.info {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0;
  padding-left: $indent-16;
  border-radius: 16px;
  background-color: $color-gray-extra-light;

  @include screen-large-down {
    padding-left: 0;
  }
}

.itemsLeft {
  margin-right: $indent-16;
  color: $color-blue-gray;
  opacity: 0.8;

  @include screen-large-down {
    display: none;
  }

  span {
    font-weight: 600;
  }
}

.wallet {
  padding: 4px 12px;
  pointer-events: none;

  @include screen-small-down {
    padding: $indent-8 $indent-16;
    font-size: 14px;
    font-weight: 500;
  }
}

.count {
  @include typo-make-text;
  margin-left: $indent-32;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 0;
  color: $color-black;
  background-color: $color-gray-extra-light;
  border-radius: 8px;
  height: 32px;

  @include screen-small-down {
    height: 36px;
    padding: $indent-8;
  }

  button {
    display: inline-flex;
    align-items: center;
  }

  span {
    margin: 0 $indent-16;
  }

  @include screen-small-down {
    margin-left: 12px;
  }

  button {
    svg {
      fill: $color-gray-middle;
      width: 16px;
      height: 16px;
    }

    &:disabled {
      pointer-events: none;

      svg {
        fill: $color-gray-light;
      }
    }
  }
}

.delete {
  margin-left: $indent-48;
  display: inline-flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }

  @include screen-small-down {
    display: none;
  }
}

.deleteMobile {
  display: none;
  z-index: -1;

  transition: background-color .3s linear;

  @include screen-small-down {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 100%;
    border-radius: 16px;
    background-color: $color-gray-middle;
    transition: opacity .3s linear;
    padding-right: 56px;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-white;
    }
  }
}


.disabled {
  .category {
    background-color: $color-gray-light;
  }

  .wallet {

    &::before,
    &::after {
      background: $color-gray-light;
    }
  }

  .category,
  .wallet,
  .checkbox,
  .count,
  .name,
  .imgWrapper {
    opacity: .5;
    pointer-events: none;
  }

  .name {
    opacity: .3;
  }
}

.minus,
.plus {
  display: flex;
  align-items: center;
}