@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.avatar {
  position: relative;
  @include typo-make-text;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color-violet;
  color: $color-white;
  text-transform: uppercase;
  transition: background 1s linear;
  overflow: hidden;

  &.big {
    width: 48px;
    height: 48px;
    @include screen-medium-up {
      @include typo-make-h2;
      width: calc($indent-96 + $indent-32);
      height: calc($indent-96 + $indent-32);
    }

    &:hover .editButton {
      transform: translateY(0);
    }
  }
}

.link {
  &:hover {
    background: linear-gradient(270deg, #E7BECB 1.3%, #BF9DEB 48.75%, #A293F6 96.74%);
  }
}

.photo {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fileInput {
  display: none;
}

.editButton {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba($color-black, 0.5);
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  > input {
    display: none;
  }

  > label {
    cursor: pointer;
  }
}

.camera {
  width: 16px;
  height: 14px;
}

.expertIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  @include screen-medium-up {
    width: 32px;
    height: 32px;
  }
}

.deleteButton {
  position: absolute;
  top: 0;
  right: -12px;  

  .binIcon {
    width: 16px;
    height: 16px;
    fill: $color-gray-blue;
    transition: fill .1s linear;
  }

  &:hover {
    .binIcon {
      fill: $color-gray;
    }
  }
}