@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders.scss' as *;

.wrapper {
  @include grid-columns-span-all;

  padding: $indent-32 0 $indent-8;
  border: 1px solid $color-gray-light;
  border-radius: 16px;
  text-align: left;
  color: $color-dark-color;
  cursor: pointer;

  transition: box-shadow .2s ease-in-out,
              border-color .2s ease-in-out;

  @include screen-medium-down {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &.selectAnimation {
    animation: selectAnimation .2s ease-in-out forwards;
  }

  &:not(.limitExtended):hover {

    border-color: $color-violet;
    @extend %card-shadow;

    .contentRow {
      transform: translateY(-2px)
    }

    .checkbox {
      transform: scale(1.33);
      border-color: $color-bluemarin-light;

      @include screen-medium-down {
        transform: scale(1);
      }

      .checkIcon {
        opacity: 1;
        transform: translateY(0);
        stroke: $color-bluemarin-light;
      }
    }
  }

  &.open {
    .innerContent {
      max-height: 1000px;
      opacity: 1;

      @include screen-small-down {
        max-height: 3000px;
      }

      p {
        max-height: 2000px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .arrow {
      transform: rotate(-180deg);
    }

    .btnMore {
      min-width: 92px;
    }
  }

  &.selected,
  &.voted {
    background: $color-bluemarin-light;
    color: $color-white;

    &:hover {
      border-color: transparent;
      .checkbox {
        border-color: $color-white;
        .checkIcon {
          stroke: $color-white;
        }
      }
    }

    .checkbox {
      border-color: $color-white;
      .checkIcon {
        opacity: 1;
        transform: translateY(0);
        stroke: $color-white;
      }
    }

    .btnMore {
      border-color: $color-white;
      color: $color-white;

      .arrow {
        fill: $color-white;
      }
    }

    .indicator {
      color: $color-white;

      .line {
        &::before {
          opacity: 0;
        }
    
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &.limitExtended { 
    color: $color-gray-deep;
    cursor: default;

    @include screen-medium-down {
      background: $color-gray-extra-light;
      border-color: transparent;
    }
  }
}

.contentRow {
  @include grid-with-inner-context {
    @include grid-columns-span((large: 9))
  }

  transition: transform .2s ease-in;

  @include screen-medium-down {
    display: flex;
    column-gap: $indent-12;
    padding: $indent-16 $indent-16 0;
  }

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    flex-grow: 0;
    margin-left: $indent-48;

    border: 4px solid $color-gray-light;
    border-radius: 50%;

    transition: transform .2s ease-in,
                border-color .2s ease-in;
    transform-origin: top left;
    
    @include screen-medium-down {
      margin-left: 0;
      flex-shrink: 0;
    }
    
    .checkIcon {
      width: 14px;
      height: 14px;
      fill: none;
      stroke-width: 4;
      stroke: $color-gray-light;
      transform: translateY(40%);
      opacity: 0;
      transition: stroke .2s ease-in,
                  transform .2s ease-in,
                  opacity .2s ease-in-out
      }
  }

  .content {
    @include grid-columns-span((large: 6));
  }

  .voteTitle {
    margin-bottom: $indent-24;

    @include screen-medium-down {
      margin-bottom: $indent-12;
    }
  }

  .innerContent {
    margin-top: $indent-24;
    max-height: 0;
    opacity: 0;
    text-overflow: clip;
    overflow: hidden;

    transition: max-height .2s ease-in-out,
                opacity .2s ease-in-out;
    
    @include screen-medium-down {
      margin-top: $indent-12;
    }
  }

  .innerContentText {
    padding-bottom: $indent-24;

    @include screen-medium-down {
      padding-top: $indent-24;
    }
  }

  .gallery {
    display: flex;
    gap: 0;
    margin-bottom: $indent-24;
    height: 64px;

    @include screen-medium-down {
      margin-bottom: $indent-12;
    }
  
    :global(.gallery__item) {
      min-width: initial;
      min-height: initial;
      &:not(:first-child) {
        margin-left: $indent-8;
      }  
    }
  
    img {
      width: 64px;
      height: 64px;
      border-radius: 16px;
      object-fit: cover;
    }
  }  
}

.voteVolume {
  @include screen-medium-down {
    margin-bottom: $indent-12;
  }

  .indicator {
    bottom: 8px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    grid-column-gap: $indent-8;
    height: 16px;
    color: $color-bluemarin;
    padding: 0 $indent-48;
    transition: color .2s ease-in;
  
    @include screen-medium-down {
      padding: 0 $indent-16;
    }
    p {
      @include typo-medium-text;
      font-weight: 600;
      line-height: 16px;
  
      @include screen-small-down() {
        @include typo-make-small;
        font-weight: 600;
      }
    }
  
    .line {
      position: relative;
      width: 0;
      height: 8px;
      transition: width 1s ease-in-out .5s;
  
      &::before {
        background: linear-gradient(270deg, #87D9E6 0%, #8994F8 33%, #B392F4 68%, #EBC2C6 100%);
      }
  
      &::after {
        background: $color-white;
        opacity: 0;
      }
  
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        border-radius: 4px;
        transition: opacity .2s ease-in;
      }
    }
  }

  .btnWrapperMobile {
    display: flex;
    margin-top: $indent-12;
  }
}

.btnMoreWrapper {
  grid-column: 8/-1;

  padding: 0 1px; 
  margin-right: $indent-48;
}

.btnMore {
  margin-left: auto;
  padding: $indent-8;
  border: 1px solid $color-bluemarin;
  border-radius: 8px;

  min-width: 101px;

  display: flex;
  align-items: center;

  @include typo-make-tiny;
  text-transform: uppercase;
  color: $color-bluemarin;

  column-gap: 4px;
  width: fit-content;
  height: fit-content;

  position: relative;

  overflow: hidden;

  transition: min-width .3s ease-in-out;

  @include screen-medium-down {
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: $indent-8 $indent-16 $indent-16;
    border: none;
    border-top: 1px solid $color-gray-light;
    border-radius: initial;
    justify-content: space-between;
  }

  .arrow {
    width: 16px;
    height: 16px;
    fill: $color-bluemarin;
    opacity: 1;
    transition: transform .3s ease-in-out;
  }  

  .btnClosedText,
  .btnOpenedText {
    transition: opacity .4s ease-in-out;
    position: absolute;
  }

  .btnClosedText {
    opacity: 0;

    &.visible {
      position: relative;
      opacity: 1;
    }
  }

  .btnOpenedText {
    opacity: 0;

    &.visible {
      position: relative;
      opacity: 1;
    }
  }
}  

@keyframes selectAnimation {
  from {
    background-color: $color-white;
  } to {
    background-color: $color-bluemarin-light;
  }
}