@use '../../styles/variables' as *;
@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as *;


.wrapper {
  @include grid;
  @include grid-columns-span-all;
  height: fit-content;

  .firstRow {
    @include grid-with-inner-context {
      @include grid-with-offset((medium: 2, large: 2, huge: 1)) {
        @include grid-columns-span((small: 7, medium: 10, large: 10, huge: 11));
      }
    }

    margin-top: $indent-40;

    @include screen-small-down {
      order: 2;
      margin-top: $indent-16;
    }
  }

  .secondRow {
    @include grid-with-inner-context {
      @include grid-columns-span((small: 7, medium: 12, large: 12, huge: 12));
    }

    margin-top: $indent-32;

    @include screen-small-down {
      order: 1;
      margin-top: $indent-16;
    }
  }

  .thirdRow {
    @include grid-with-inner-context {
      @include grid-columns-span((small: 7));
    }

    @include screen-small-down {
      order: 0;
    }
  }
}

.resultsWrapper {  

  .firstRow {
    @include grid-with-inner-context {
      @include grid-with-offset((large: 1, huge: 1)) {
        @include grid-columns-span((small: 7, medium: 12, large: 11, huge: 11));
      }
    }
  }

  .secondRow {
    @include grid-with-inner-context {
      @include grid-with-offset((large: 1, huge: 1)) {
        @include grid-columns-span((small: 7, medium: 12, large: 11, huge: 12));
      }
    }
  }

  .title {
    @include grid-columns-span((medium: 6, large: 6, huge: 6));
  }

  .controls {
    @include grid-columns-span((small: 1, medium: 6, large: 5, huge: 6));
  }

  .bookMarkbutton {
    display: none;
  }
}

.timeCard {

  justify-content: space-between !important;

  @include screen-large-down {
    max-width: 80%;
    @include grid-columns-span((medium: 2, large: 2, huge: 1));
  }

  @include screen-small-down {
    display: none !important;
  } 
}

.title {
  @include grid-columns-span((medium: 5, large: 4, huge: 6));
  // margin-top: auto;

  @include screen-small-down {
    @include typo-make-h2;
    font-weight: 700;
  }
}

.controls {
  @include grid-columns-span((medium: 5, large: 6, huge: 5));
  justify-self: end;
  align-self: end;

  display: flex;
  height: fit-content;
  gap: $indent-8;


  @include screen-small-down {
    @include grid-columns-span((small: 1));
    align-self: start;
  }

  &:first-child {
    @include screen-small-down {
      grid-column: 1/-1;
      align-self: start;
    }
  }

  @include screen-medium-down {
    gap: $indent-16;
  }

  .shareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $indent-16;
  }

  .shareButton {
    gap: 0;

    @include screen-medium-down {
      background-color: transparent;
      padding: 0;  
    }
  }
}

.dateUntil {
  @include grid-columns-span((small: 6));
  color: $color-blue-gray;
  @include typo-make-tiny;
  line-height: 14px;
  text-transform: uppercase;
}

.backLink {
  @include grid-columns-span((small: 6));
}

.cozyYamalWrapper {
  margin-top: calc($indent-80 + $indent-20);

  @include grid;
  @include grid-columns-span-all;

  .timeCardDesktop {
    @include grid-columns-span((medium: 2, large: 2, huge: 1));

    @include screen-large-down {
      max-width: 70%;
    }

    @include screen-medium-down {
      display: none !important;
    }
  }

  .timeCardMobile {
    @include grid-columns-span((small: 2, medium: 2));
  }

  .cozyYamalContent {
    @include grid-with-inner-context {
        @include grid-columns-span((small: 7, medium: 12, large: 12, huge: 12));
    }
  }

  .mainContent {
    @include grid-columns-span((small: 5, medium: 10, large: 7, huge: 8));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $indent-24;

    @include screen-medium-down {
      justify-content: flex-end;
    }
  }

  .title {
    margin-top: 0;

    @include screen-medium-down {
      order: -1;
    }
  }

  .controls {
    @include grid-columns-span((medium: 4, large: 3, huge: 3)); 
  }
}
