@use '../../styles/variables.scss' as *;
@use '../../styles/variables/indent-system.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/placeholders.scss' as *;

.wrapper {
    position: relative;
}

.roundCorners {
    border-radius: 16px;
}

.overflow {
     overflow: hidden;
}