@use '../variables/indent-system' as *;
@use '../variables/grid' as *;

////
/// Simple mixins with a wide range of application.
/// @access public
/// @group helpers
/// @author Daniil Filippov <d.filippov@make.st>
////


/// A mixin version of the `%helper-hidden-system-scrollbar`.
@mixin helper-hidden-system-scrollbar {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/// @type Length
$offset: calc($indent-40 * 2);
$offsetColumn: calc($grid-gutter-size * 11);

/// @param {Length} $columns
@mixin calcSlideGridWidth($columns) {
  width: calc(((100vw - $offset - $offsetColumn) / 12 * $columns) + (($columns - 1) * $grid-gutter-size) - (1px * $columns)) !important;
}

@mixin calcSlideNoGridWidth($columns) {
  width: calc(((100vw - $offset - $offsetColumn) / 12 * $columns) + ($columns * $grid-gutter-size) - (1px * $columns)) !important;
}
