@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/placeholders';

.wrapper {
  position: relative;
  @include typo-make-tiny;
  text-transform: uppercase;

  &:before {
    @extend %border-gradient;
    display: none;
  }

  @include screen-medium-up {
    color: $color-gray-blue;
    padding: $indent-12;
    border-radius: 16px;

    &:before {
      display: block;
    }
  }
}
