@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 2;
}

.avatar {
  display: flex;
  align-items: flex-end;
  height: 24px;
  width: 24px;

}

.expertAvatarWrapper {
  position: relative;

  &:nth-child(1) .link {
    background: $color-gray-middle;
  }

  &:nth-child(2) .link {
    background: $color-orange;
  }

  &:nth-child(3) .link {
    background: $color-violet;
  }

  &:nth-child(4) .link {
    background: $color-bluemarin;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    margin-left: -11px;
  }

  &:hover {
    z-index: 1;

    .expert {
      z-index: 2;
      pointer-events: auto;
      opacity: 1;
      transform: translate(-100%, -100%);
    }
  }

  .expert {
    pointer-events: none;
    @include screen-medium-down {
      display: none;
    }
  }  
}