.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

.ymaps-2-1-79-placemark-overlay {
  .ymaps-2-1-79-image {
    position: relative;
    animation: placeMarkMove .7s linear alternate infinite;

    &::after {
      content: '';
      position: absolute;
      bottom: -32px;
      width: 25px;
      height: 32px;
      background-image: url('../../../public/images/geo-bottom.png');
      background-position: center;
      background-size: 100% 100%;
      animation: secondPlaceMarkMove .7s linear alternate infinite;
    }
  }
}

@keyframes placeMarkMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}

@keyframes secondPlaceMarkMove {
  0% {
    bottom: -25px;
    opacity: 1;
  }
  100% {
    bottom: -43px;
    opacity: 0;
  }
}
